<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Process Parameters</h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left" *ngIf="page">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlOrg'" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Department</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlErp'" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Par Location</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Status" [name]="txtStatus" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Status'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">

                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12" *ngIf="tab">
                            <atpar-tabs>
                                <atpar-tab tabTitle="Replenishment">
                                    <div class="col-xs-12 table-responsive">
                                        <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">                                            
                                            <p-column field="LOCATION_TYPE" header="Location" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <a style="cursor:pointer" (click)="go()">{{ven.ORG_GROUP_ID}}</a>
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Inventory Schedule" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlIn'" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column field="" header="Replenishment from" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlrf'" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Source Locations" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <a style="cursor:pointer" (click)="go()">{{ven.DEPT_NAME}}</a>
                                                </template>
                                            </p-column>
                                            <p-column  header="Assign Source Locations" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <a style="cursor:pointer" (click)="add()">Assign Location</a>
                                                </template>
                                            </p-column>
                                            <p-column header="Select">
                                                <template pTemplate="filter" let-col>
                                                    <ul class="list-inline">
                                                        <li>
                                                            <a href="">All</a>
                                                        </li> |
                                                        <li>
                                                            <a href="">None</a>
                                                        </li>
                                                    </ul>
                                                </template>
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-switch></atpar-switch>
                                                </template>
                                            </p-column>
                                        </atpar-datatable>
                                    </div>
                                </atpar-tab>
                                <atpar-tab tabTitle="Billing">
                                    <div class="col-xs-12 table-responsive">
                                        <atpar-datatable [value]="bills" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                            <p-column field="ORG_GROUP_ID" header="Department" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                            <p-column field="DEPT_NAME" header="Billing Option" >
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-radioButton name="groupname" value="" label="Real-time"></atpar-radioButton>
                                                    <br>
                                                    <atpar-radioButton name="groupname" value="" label="Batch"></atpar-radioButton>
                                                    <br>
                                                    <input type="checkbox" class="form-group" />Review Chnages
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Billing Schedule">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [id]="'ddlBillss'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column header="Select">
                                                <template pTemplate="filter" let-col>
                                                    <ul class="list-inline">
                                                        <li>
                                                            <a href="">All</a>
                                                        </li> |
                                                        <li>
                                                            <a href="">None</a>
                                                        </li>
                                                    </ul>
                                                </template>
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-switch></atpar-switch>
                                                </template>
                                            </p-column>
                                        </atpar-datatable>
                                    </div>
                                </atpar-tab>
                                <atpar-tab tabTitle="Alert">
                                    <div class="col-xs-12 table-responsive">
                                        <atpar-datatable [value]="alerts" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                            <p-column field="ORG_GROUP_ID" header="Department" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                            <p-column field="" header="Low Stock Alert Schedule" >
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [id]="'ddlSts'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Expired /Expiring Alert Schedule" >
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [id]="'ddlExp'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Recall Alert Schedule" >
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [id]="'ddlRecall'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column field="DEPT_NAME" header="Bill Only Email Alert Schedule">
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-select [options]="cities" [id]="'ddlBill'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                                </template>
                                            </p-column>
                                            <p-column header="Select">
                                                <template pTemplate="filter" let-col>
                                                    <ul class="list-inline">
                                                        <li>
                                                            <a href="">All</a>
                                                        </li> |
                                                        <li>
                                                            <a href="">None</a>
                                                        </li>
                                                    </ul>
                                                </template>
                                                <template let-ven="rowData" pTemplate type="body">
                                                    <atpar-switch></atpar-switch>
                                                </template>
                                            </p-column>
                                        </atpar-datatable>
                                    </div>
                                </atpar-tab>
                            </atpar-tabs>
                        </div>
                        <form class="form-horizontal form-label-left" *ngIf="form">
                            <div class="col-xs-12">                                
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Org" [name]="txtOrg" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Org'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Location</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Loc" [name]="txtLoc" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Loc'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlErp'" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>                                
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Location</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Status" [name]="txtStatus" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Status'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Display</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlEr'" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 table-responsive" *ngIf="table">
                            <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                <p-column field="" header="Org ID" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="LOCATION" header="Location" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="LOCATION_DESCR" header="Description" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column header="Select">
                                    <template pTemplate="filter" let-col>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="">All</a>
                                            </li> |
                                            <li>
                                                <a href="">None</a>
                                            </li>
                                        </ul>
                                    </template>
                                    <template let-ven="rowData" pTemplate type="body">
                                        <atpar-switch></atpar-switch>
                                    </template>
                                </p-column>
                            </atpar-datatable>
                            <br>
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn">Assign &nbsp; <i class="fa fa-check"></i></button>
                                <button class="btn btn-purple sbtn" (click)="close()"><i class="fa fa-arrow-left"></i> &nbsp; Go Back</button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
