<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Create Orders</h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left" *ngIf="page">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Business Unit/Company</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.OrgId1" [name]="txtOrgId1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'OrgId1'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Par Location</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Status" [name]="txtStatus" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Status'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Item ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.LocationID1" [name]="txtLocationID1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'LocationID1'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                    <!--<button class="btn btn-purple sbtn" (click)="add()"><i class="fa fa-plus"></i> &nbsp; Add</button>-->
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 table-responsive" *ngIf="pop">
                            <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                <!--<p-column expander="true" styleClass="col-icon"></p-column>-->
                                <p-column field="ITEM_ID" header="Item ID" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="COMPARTMENT_ID" header="Compartment" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="DESCRIPTION" header="Description" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="ITEM_PRICE" header="Price($)" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="ITEM_TYPE" header="Item Type" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="PAR_VALUE" header="Par Value" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="UOM" header="UOM" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="ORDER_TYPE" header="Order Type" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="ORDER_QTY" header="Order Qty"  [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                    <template let-ven="rowData" pTemplate type="body">
                                        <atpar-text [(ngModel)]="newItem.Loc" [name]="txtLoc" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Loc'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </template>
                                </p-column>
                                <p-column field="QOH" header="Quantity On Hand" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <!--<p-column header="Action">
                                    <template let-ven="rowData" pTemplate type="body">
                                        <i class="fa fa-pencil fa-bg bg-blue" title="edit" (click)="edit()"></i>&nbsp;
                                        <i class="fa fa-ban fa-bg bg-danger" title="Disable"></i>&nbsp;
                                        <i class="fa fa-trash fa-bg bg-red" title="Delete"></i>
                                    </template>
                                </p-column>-->
                            </atpar-datatable>
                            <br>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn">Submit</button>
                                <!--<button class="btn btn-purple sbtn" (click)="add()"><i class="fa fa-plus"></i> &nbsp; Add</button>-->
                            </div>
                        </div>
                        <!--<form class="form-horizontal form-label-left" *ngIf="form">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Physician ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Address2" [name]="txtAddress2" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Address2'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.DepartmentID" [name]="txtDepartmentID" *ngIf="!isEditMode" [isFocused]="'true'" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'DepartmentID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Location" [name]="txtLocation" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Location'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Initial</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Address1" [name]="txtAddress1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Address1'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
                                    <button class="btn btn-purple small"><i class="fa fa-check"></i> &nbsp; Save</button>
                                    <button class="btn btn-purple small" (click)="close()"><i class="fa fa-arrow-left"> &nbsp;</i>Go Back</button>
                                </div>
                            </div>
                        </form>-->
                        <!--<form class="form-horizontal form-label-left" *ngIf="editform">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Physician ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Pid" [name]="txtPid" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Pid'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Fname" [name]="txtFname" *ngIf="!isEditMode" [isFocused]="'true'" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Fname'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Lname" [name]="txtLname" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Lname'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Initial</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Mname" [name]="txtMname" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Mname'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4">
                                    <button class="btn btn-purple small"><i class="fa fa-check"></i> &nbsp; Save </button>
                                    <button class="btn btn-purple small" (click)="close()"><i class="fa fa-arrow-left"> &nbsp;</i>Go Back</button>
                                </div>
                            </div>
                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
