<div id="main" class="content-page">
    <div class="">
        <div class="page-content-wrapper">
            <div class="container x_panel no-border">
                <br>
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px;">
                        <div class="col-md-12">
                            <form class="form-horizontal form-label-left">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <label *ngIf="blnShowOrgGroupLabel" class="control-label lbl-left">{{orgGrpId}}</label>
                                        <atpar-select [options]="lstOrgGroups" [id]="'ddllstOrgGroups'" [required]="true" [(ngModel)]="selectedOrgGroupId" [ngModelOptions]="{standalone: true}" filter="filter" *ngIf="blnShowOrgGroupDD" (onChange)="ddlOrgGrpIdChanged()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6"> User ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="lstUsers" [id]="'ddllstUsers'" filter="filter" [required]="true" [(ngModel)]="selectedDropDownUserId" [ngModelOptions]="{standalone: true}" (onChange)="ddl_Change()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">SetID / Company</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-text [(ngModel)]="setId" [name]="txtSETID" [id]="'SETID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">ShipTo ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-text [(ngModel)]="shipToId" [name]="txtSHIPTO_ID" [id]="'SHIPTO_ID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6"> Display</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="displayOptions" [id]="'ddlDisplay'" [ngModelOptions]="{standalone: true}" [(ngModel)]="seletedStatus" (onChange)="ddl_Change()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                    <button type="submit" class="btn btn-purple sbtn" (click)="getAllShipToIds()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-12 table-responsive" *ngIf="showGrid">
                            <div class="container">
                                <atpar-datatable [value]="lstDBData" [style]="{'width':'100%'}" [paginator]="true" [pageLinks]="3"
                                                 (onSort)="customSort($event)"
                                                 (filteredData)="myfilterdata($event)" [rows]="recordsPerPageSize" [globalFilter]="gb" [rowsPerPageOptions]="[10,20, 30, 40, 50, 60, 70, 80, 90, 100]" [responsive]="true">

                                    <p-column [style]="{'width':'7%', 'text-align':'center'}" header="Select">
                                        <template pTemplate="filter" let-col>
                                            <ul class="list-inline li-all-none">
                                                <li>
                                                    <span (click)="checkAll()" style="cursor:pointer">All</span>
                                                </li> |
                                                <li>
                                                    <span (click)="unCheckAll()" style="cursor:pointer">None</span>
                                                </li>
                                            </ul>
                                        </template>
                                        <template let-ven="rowData" pTemplate="body">
                                            <atpar-switch (change)="selectedRow(ven,$event)" [(ngModel)]="ven.checkvalue"></atpar-switch>
                                        </template>
                                    </p-column>
                                    <p-column field="SETID" header="Set ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'9%'}"> </p-column>
                                    <p-column field="SHIPTO_ID" header="Ship To ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'12%'}"> </p-column>
                                    <p-column field="DESCR" header="Description" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'40%'}"> </p-column>
                                    <p-column field="USER_ID" header="User" [sortable]="true" [style]="{'width':'25%'}"> </p-column>
                                </atpar-datatable>
                            </div>
                            <br />
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" id="btnsubmitForGrid" (click)="allocateShipToIds()">Submit &nbsp;<i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
</div>
