<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  
  </configSections>

  <appSettings>
    <add key="HostAddress" value=""/>
  </appSettings>
   
  
  
  <connectionStrings>
    <add name="ATPAR_MT_Context" connectionString="Data Source=192.168.176.30\DEVELOPER2;Initial Catalog=ATPAR_MT_YOGI;Persist Security Info=True;User ID=sa;Password=saadmindev2;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="data source=192.168.176.30\DEVELOPER2;initial catalog=ATPAR_MT_RAVIKUMAR;user id=atpar_mt_ravikumar;MultipleActiveResultSets=True;App=EntityFramework"-->
    <add name="AtParEntities" connectionString="metadata=res://*/AtParEntityDataModel.csdl|res://*/AtParEntityDataModel.ssdl|res://*/AtParEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.176.30\DEVELOPER2;initial catalog=ATPAR_MT_RAVIKUMAR;user id=atpar_mt_ravikumar;password=133tcru@NOS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="ILogger" type="AtPar.Service.Interfaces.Init.IUserService, AtPar.Service.Interfaces" />
    <container name="AtParWebContainer">

      <register type="ILogger" mapTo="AtPar.Init.Service.UserService, AtPar.Init.Service">
        <!--<constructor>
          <param name="name" value="chris" />
        </constructor>-->
      </register>
      <!--<register type="AtPar.Service.Interfaces.Init.IVendorService, AtPar.Service.Interfaces" mapTo="AtPar.Init.Service.VendorService, AtPar.Init.Service" />-->
      <!--<register type="AtPar.Repository.Interfaces.Init.IVendorRepository, AtPar.Repository.Interfaces" mapTo="AtPar.Init.Repos.VendorRepository, AtPar.Init.Repos" />-->
      <register type="AtPar.Repository.Interfaces.Init.IUserRepository, AtPar.Repository.Interfaces" mapTo="AtPar.Init.Repos.UserRepository, AtPar.Init.Repos" />
      <register type="AtPar.Repository.Interfaces.Init.IRouteRepository, AtPar.Repository.Interfaces" mapTo="AtPar.Init.Repos.RouteRepository, AtPar.Init.Repos" />
      <register type="AtPar.Service.Interfaces.Init.IRouteService, AtPar.Service.Interfaces" mapTo="AtPar.Init.Service.RouteService, AtPar.Init.Service" />

      <!--<lifetime type="singleton"/>-->
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>