.navbar-default {
  background-color: #ededed;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
}
.panel-dashboard {
 background-color: #06b715 !important;
 border-radius:7px; 
}
.panel-dashboard h3 {color:#ffffff;}
.navbar{
	margin-bottom:0px !important;
}
.panel.panel-fill.panel-dashboard:hover{
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.5); 
	
}
.nav > li > a {
  color: #333333!important;
  padding: 0 15px;
  position: relative;
}
.page-header-title {
	background-color: #06b715!important;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	margin: 70px -5px 1px;
	overflow: auto;
	padding: 4px 15px 30px 20px;
	height: 35px;
}
.button-menu-mobile {
  background: #3292e0;
  border: 1px solid;
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-top: 14px;
  margin-left: 15px;
}
.notifi-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0 10px;
  margin-top: -5px;
  background-color: #6c276a;
}
.table-striped tbody tr:hover td, .table-striped tbody tr:hover th {
  background-color: rgba(210, 236, 243, 0.3);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background-color: #3292e0;
	border-color: #3292e0;
}
#sidebar-wrapper.toggled  > ul > li > a > i {
	float:right;
  }