<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>User Parameter</h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border" *ngIf="true">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <label for="">Org Group ID </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.OrgId" [name]="txtOrgId" *ngIf="!isEditMode" [isFocused]="'true'" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'OrgId'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-5">
                                        <label for=""> User ID</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [required]="true" [id]="'ddlOrg'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border:1px solid #eee;" *ngIf="table">
                    <div class="panel-body" style="padding:20px;">
                        <div class="col-xs-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Parameter</th>
                                        <th class="text-center">Value</th>
                                        <th class="text-center">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ERP UserID</td>
                                        <td>
                                            <atpar-text [(ngModel)]="newItem.UserID" [name]="txtUserID" *ngIf="!isEditMode" [isFocused]="'true'" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'UserID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                        </td>
                                        <td class="desc-text">[User ID to be attached to the transaction being posted in the ERP.]</td>
                                    </tr>
                                </tbody>
                            </table>
                                    <div class="col-xs-12 col-md-4 col-md-offset-5">
                                        <button class="btn btn-purple sbtn">Submit &nbsp;<i class="fa fa-check"></i></button>
                                        <!--  <button class="btn btn-purple sbtn" (click)="hideDialog()"><i class="fa fa-arrow-left"></i> &nbsp;Go Back</button> -->
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
