<style type="text/css" media="print">
  


    .table-responsive {
        overflow-x: hidden !important;
    }

    @media screen and (max-width:767px) {
        .table-responsive {
            overflow-x: auto !important;
        }
    }

    .span-icon {
        cursor: pointer;
        margin-top: -23.7px;
        margin-left: 10.4em;
        padding: 4px 3.5px;
        margin-right: 0;
        height: 23px;
        border-radius: 0px;
    }

    ul > li > i {
        cursor: pointer;
    }

    .top-buffer {
        margin-top: 20px;
    }


    th,
    td {
        border: 1px thin black;
    }

    th {
        text-align: center;
        vertical-align: middle;
        font-size: 12px !important;
        background-color: #f2f2f2 !important;
    }

    .pick-qa-table th {
        font-size: 12px;
    }

    .pick-qa-table .big-label {
        font-size: 13px;
        color: #6c276a;
        font-weight: 700;
    }

    .table.table-bordered.pick-qa-table > thead > tr > th {
        vertical-align: midddle !important;
    }
</style>


<div id="main" class="content-page">
    <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:10px 0 0 0;">
                        <form class="form-horizontal form-label-left" *ngIf="page">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">From Date</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="fromDate" [required]="true" [placeholder]="'From Date'"
                                                    [readonlyInput]="true" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"
                                                    [dateFormat]="'mm/dd/yy'" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">To Date</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <p-calendar [showIcon]="true" [id]="'ToDatePicker'" [(ngModel)]="toDate" [required]="true" [placeholder]="'To Date'" [readonlyInput]="true"
                                                    (onFocus)="onfocusToCalendar($event)" [ngModelOptions]="{standalone: true}" [dateFormat]="'mm/dd/yy'" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <button class="btn btn-purple sbtn" (click)="bindGrid()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>

                            </div>
                        </form>

                        <div class="col-xs-12 table-responsive" *ngIf="showGrid">
                            <div class="container">
                                <atpar-datatable [value]="lstPostPick" [paginator]="true" [pageLinks]="3" [rows]="pageSize" expandableRows="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]"
                                                 [globalFilter]="gb" [responsive]="true">
                                    <p-column header="" [style]="{'width': '4%','overflow':'visible'}" expander="true">
                                    </p-column>
                                    <p-column field="CASE_ID" header="Case ID" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="DESCRIPTION" header="Case Description" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                    </p-column>
                                    <p-column field="PERFORM_DATE" header="Case Date Time" [sortable]="true" [filter]="true" filterPlaceholder="Search">                                       
                                    </p-column>
                                    <p-column field="PROCEDURENAME" header="Procedure" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PHYSICIAN_NAME" header="Physician" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PREFERENCENAME" header="Preference List" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PATIENTNAME" header="Patient" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="STATUS" header="Case Status" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="CASE_ID" header="" [style]="{'width':'6%'}">
                                        <template let-col let-ven="rowData" pTemplate type="body">
                                            <a (click)="onPickDetailsClick(ven,$event)" id="lnkbtnBUnit">Details</a>
                                        </template>
                                    </p-column>
                                    <template let-case pTemplate="rowexpansion">
                                        <atpar-datatable *ngIf="case.DETAILS!=null" [value]="case.DETAILS" expandableRows="true" [globalFilter]="gb" [responsive]="true">
                                            <p-column header="Procedure" field="PROCEDURENAME" filterPlaceholder="Search" ></p-column>
                                            <p-column header="Physician" field="PHYSICIAN_NAME" filterPlaceholder="Search" ></p-column>
                                            <p-column header="Preference List" field="PREFERENCENAME" filterPlaceholder="Search" ></p-column>
                                            <p-column header="Patient" field="PATIENTNAME" filterPlaceholder="Search" ></p-column>
                                            <p-column header="Case Status" field="STATUS" filterPlaceholder="Search" ></p-column>
                                        </atpar-datatable>
                                    </template>
                                </atpar-datatable>
                            </div>
                        </div>
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="container" id="printTable">
                                    <!--First table-->
                                    <table class="table table-bordered" cellpadding="1" border="1" cellspacing="1" style="width:100%" *ngIf="editform">

                                        <tr bgcolor="#ffffff" width="100%">
                                            <th style='width:33%; text-align:center;vertical-align:middle;' id="lblCase">Case ID</th>
                                            <th style='width:33%; text-align:center;vertical-align:middle;' id="lblPatientName">Case Date</th>
                                            <th style='width:33%; text-align:center;vertical-align:middle;' id="lblPatientName">Patient</th>
                                        </tr>
                                        <tr bgcolor="#ffffff" width="100%">
                                            <td style="width: 33%">
                                                <label ID="lblCaseId">{{lblCaseID}}</label>
                                            </td>
                                            <td style="width: 33%">
                                                <label ID="lblCaseDate">{{lblPerformDate|date: 'MM/dd/yyyy'}}</label>
                                            </td>
                                            <td style="width: 33%;text-align:center">
                                                <!--<canvas class={{lblPatient}}></canvas>-->
                                                <img src="data:image/jpg;base64,{{lblPatient}}" />
                                               
                                                <!-- <label ID="lblPatient">{{lblPatient}} </label> -->
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of lstDESCRS">

                                            <td width='33%'>Physician: &nbsp; {{item.PHYSICIAN_DESCR}}</td>

                                            <td width='33%'> Procedure: &nbsp;{{item.PROC_DESCR}}</td>

                                            <td width='33%'> Pref List: &nbsp; {{item.PREF_DESCR}}</td>

                                        </tr>
                                        <!--<div [innerHtml]="dynamicTable"></div>-->
                                        <tr>
                                            <td>
                                                <button class="btn btn-purple small" (click)="onPrintClick($event)">Print &nbsp;<i class="fa fa-print"></i></button>
                                            </td>
                                            <td>
                                                <label Id="Label3">Reviewed&nbsp;&nbsp;</label>
                                                <atpar-switch [(ngModel)]="chkReviewed" [ngModelOptions]="{standalone: true}" [checked]="chkReviewed">
                                                </atpar-switch>
                                            </td>
                                            <td>
                                                <label ID="lblReviewdBy">Reviewed By: {{userFullName}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- ends -->
                                    <!-- second-table -->
                                    <div id="tblform" *ngIf="showItemGrid" [innerHtml]="scndDynmTbl">
                                    </div>
                                    <!-- ends -->
                                </div>
                                <br />
                                <div class="col-xs-12 col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-5" *ngIf="editform">
                                    <button class="btn btn-purple small" (click)="onPickGoBackClick()"><i class="fa fa-arrow-left"> &nbsp;</i>Go Back</button>
                                </div>
                            </div>
                        </form>
                    </div>               
                </div>

            </div>
        </div>
    </div>
</div>