<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <style>
        .totalsFont{
            font-weight: 12px !important
        }
    </style>
</head>

<div id="main" class="content-page">
    <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px 0px 10px 0px;">
                        <div class="col-xs-12" *ngIf="tdExports">
                            <br />
                            <div class="pull-right" id="tdExports">
                                <ul class="list-inline">
                                    <li class="no-padding">
                                        <i class="fa fa-envelope-o fa-bg-lg bg-blue" aria-hidden="true" id="imgMail" title="Send mail" (click)="onSendMailIconClick($event)"></i>&nbsp;
                                    </li>
                                    <li class="no-padding">
                                        <i class="fa fa-print fa-bg-lg bg-blue" aria-hidden="true" id="imgPrint" title="Print" (click)="onPrintClick($event)"></i>&nbsp;
                                    </li>
                                    <li class="no-padding">
                                        <i class="fa fa-file-excel-o fa-bg-lg bg-blue" aria-hidden="true" id="imgExcel" title="Excel Format" (click)="onExportToExcelClick($event)"></i>&nbsp;
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="showControls">
                            <form class="form-horizontal form-label-left">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Physician </label>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <atpar-ac-server [(ngModel)]="selectedPhysician" [ngModelOptions]="{standalone: true}" [suggestions]="lstPhysiciansItems" (completeMethod)="fillPhysiciansAuto($event)"></atpar-ac-server>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Procedure</label>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <atpar-ac-server [(ngModel)]="selectedProcedure" [ngModelOptions]="{standalone: true}" [suggestions]="lstProcedureCodes" [mandatory]="'true'" [id]="'ProcedureId'" (completeMethod)="fillProceduresAuto($event)"></atpar-ac-server>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">From Date</label>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p-calendar [showIcon]="true" [id]="'fromDate'" [(ngModel)]="fromDate" [placeholder]="'From Date'" [dateFormat]="'mm/dd/yy'" [required]="true" [readonlyInput]="true" [ngModelOptions]="{standalone: true}" [monthNavigator]="true"  [yearNavigator]="true"  yearRange="1950:2050"></p-calendar>
                                            <!--<p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="fromDate" [required]="true" [placeholder]="'From Date'" [readonlyInput]="true" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}" [dateFormat]="'mm/dd/yy'"></p-calendar>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">To Date</label>
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <p-calendar [showIcon]="true" [id]="'toDate'" [(ngModel)]="toDate" [placeholder]="'To Date'" [dateFormat]="'mm/dd/yy'" [required]="true" [readonlyInput]="true" [ngModelOptions]="{standalone: true}" [monthNavigator]="true"  [yearNavigator]="true"  yearRange="1950:2050"></p-calendar>
                                            <!--<p-calendar [showIcon]="true" [id]="'ToDatePicker'" [(ngModel)]="toDate" [required]="true" [placeholder]="'To Date'" [readonlyInput]="true" (onFocus)="onfocusToCalendar($event)" [ngModelOptions]="{standalone: true}" [dateFormat]="'mm/dd/yy'"></p-calendar>-->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            <button class="btn btn-purple sbtn" (click)="bindGrid()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <br />
                        <div *ngIf="showGrid" class="col-xs-12">
                            <div class="container no-scrl">
                            <span class="text-primary" style="float:left">
                                <strong>Procedure Code :</strong>{{lblProcedureCode}}
                            </span>
                            <br />
                            <!--style="width:50%;margin-top:11%;margin-left:24%;"-->
                            <div class="col-xs-12">
                                
                                <atpar-chart type="bar" [id]="'ChartId'" [data]="data" [options]="option"  [width]="40" [height]="40"></atpar-chart>
                            </div>

                            <br />
                            <br />
                                <div class="clear"></div>
                            <span class="text-primary" style="float:right">
                                {{noOfrecordsMsg}}
                            </span>
                            <br />
                            <div class="table-responsive">
                                <div class="">
                                    <atpar-datatable #dt [value]="lstDBData" [paginator]="true" scrollable="true" [style]="{'width':'100%'}" [pageLinks]="3" [rows]="recordsPerPageSize" expandableRows="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [globalFilter]="gb" [responsive]="true">

                                        <p-column field="PHYSICIAN_NAME" header="Physician" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'190px'}"></p-column>
                                        <p-column field="STRPERFORM_DATE" header="Case Date (MM/DD/YYYY HH24:MI)" [sortable]="true" [filter]="true" filterPlaceholder="Search"  [style]="{'width':'208px'}"></p-column>
                                        <p-column field="TOTALCOST" header="Total Cost / Procedure ($)" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'160px'}"></p-column>
                                        <p-column field="RETURNCOST" header="Total Returns Cost / Procedure ($)" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'210px'}"></p-column>
                                        <p-column field="UNUSEDCOST" header="Total Opened & Unused Cost / Procedure ($)" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'260px'}"></p-column>
                                        <p-column field="" header="" [style]="{'width':'100px'}">
                                            <template let-ven="rowData" pTemplate type="body">
                                                <a id="lnkbtnBUnit" (click)="selectedDetailsRow(ven)">Details</a>
                                            </template>
                                        </p-column>
                                        <p-column header="Compare" [style]="{'text-align':'center','width':'100px'}">
                                            <template pTemplate="filter" let-col>
                                                <ul class="list-inline">
                                                    <li>
                                                        <a style="cursor:pointer" (click)="checkAll()">All</a>
                                                    </li> |
                                                    <li>
                                                        <a style="cursor:pointer" (click)="uncheckAll()">None</a>
                                                    </li>
                                                </ul>
                                            </template>


                                            <template let-ven="rowData" pTemplate="body">
                                                <atpar-switch (change)="selectedRow($event,ven)" [(ngModel)]="ven.Status"></atpar-switch>
                                            </template>
                                        </p-column>

                                    </atpar-datatable>
                                </div>
                                <br />
                                <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="compareDetails()">Compare &nbsp;<i class="fa fa-check"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div *ngIf="showGridForDetails" class="col-xs-12">
                            <div class="container">
                                <span class="text-primary" style="float:left">
                                    <strong>Procedure Code :</strong>{{lblProcedureCode}}
                                </span>
                                <div class="col-xs-12">
                                    <atpar-chart type="bar" [data]="detailsChartData" [options]="option"></atpar-chart>
                                </div>
                                <br />
                                <br />
                                <div class="clear"></div>
                                <div class="">
                                    <div class="table-responsive">
                                        <table class="table table-bordered user-para-table">
                                            <thead>
                                                <tr>
                                                    <th rowspan="7" class="text-center">ItemID</th>
                                                    <th rowspan="7" class="text-center">Description</th>
                                                    <th rowspan="7" class="text-center">UnitCost ($)</th>
                                                    <th rowspan="7" class="text-center">UOM</th>
                                                    <th *ngFor="let userLst of lstCompareHeadersData" style="background-color:#f2f2f2">
                                                        <table style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="7" class="text-center" style="font-weight:bold">{{userLst.PHYNAMEDATE}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">PickQty</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Return Qty</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Wastage Qty</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Used Qty</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Return Item Cost ($)</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Wastage Item Cost ($)</th>
                                                                    <th class="text-center" style="width:70px;border:1px solid #ddd">Used Item Cost ($)</th>
                                                                </tr>

                                                            </thead>
                                                        </table>

                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let itmdtls of lstcompareData1">
                                                    <td class="text-center" style="border: none;">{{itmdtls.ITEM_ID}}</td>
                                                    <td class="text-center" style="border: none;">{{itmdtls.ITEM_DESCRIPTION}}</td>
                                                    <td class="text-center" style="border: none;">{{itmdtls.ISSUE_PRICE}}</td>
                                                    <td class="text-center" style="border: none;">{{itmdtls.ISSUE_UOM}}</td>
                                                    <td style="border: none;" *ngFor="let finalLst of itmdtls.Details">

                                                        <!--<div >-->
                                                        <table style="width:100%;border:none;">
                                                            <tr>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.ITEM_COUNT}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.ITEM_COUNT}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.WASTAGE_QTY}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.USED_QTY}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.SUMRETURN}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.SUMWASTAGE}}</td>
                                                                <td class="text-center" style="width:70px;border:1px">{{finalLst.SUMUSED}}</td>
                                                            </tr>
                                                        </table>

                                                    </td>

                                                </tr>
                                                <tr *ngFor="let totals of lstcompareData1.DetailsTotals">
                                                    <td><span style="font-weight:bold">Cost</span></td>
                                                    <td class="text-center" style="width:70px;border:1px;font-weight:bold">{{totals.ReturnCost}}</td>
                                                    <td class="text-center" style="width:70px;border:1px;font-weight:bold">{{totals.UsedCost}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div>

                                    </div>
                                    <br />
                                    <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                        <button class="btn btn-purple sbtn" (click)="onBackClick()">Go Back &nbsp;<i class="fa fa-arrow-left"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showDetailsGridForSingleRow" class="col-xs-12">
                            <div class="container">
                            <span class="text-primary" style="float:left">
                                <strong>Procedure Code :</strong>{{lblProcedureCode}}
                            </span>
                                <div class="clear"></div>
                            <div class="col-xs-12">
                                <atpar-chart type="bar" [data]="detailsChartData" [options]="option"></atpar-chart>
                            </div>
                            <br />
                            <br />
                                <div class="clear"></div>
                            <atpar-datatable [value]="lstDBDetailsData" [style]="{'width':'100%'}" rowGroupMode="subheader" expandableRows="true" [responsive]="true">
                                <p-headerColumnGroup type="header">
                                    <p-row>
                                        <p-column rowspan="3" field="ITEM_ID" header="ItemID"></p-column>
                                        <p-column rowspan="3" field="ITEM_DESCRIPTION" header="Description"></p-column>
                                        <p-column rowspan="3" field="ISSUE_PRICE" header="UnitCost ($)" [style]="{'width':'8%'}"></p-column>
                                        <p-column rowspan="3" field="ISSUE_UOM" header="UOM" [style]="{'width':'8%'}"></p-column>
                                        <!--<p-column rowspan="3" field="ITEM_COUNT" header="Total Opened & Unused Cost / Procedure ($)" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>-->
                                        <p-column colspan="7" [style]="{'width':'30%', 'text-align':'center'}" header="{{phyName}}">
                                        </p-column>
                                    </p-row>
                                    <p-row>
                                        <p-column field="ITEM_COUNT" header="PickQty" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="RETURNQTY" header="Return Qty" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="WASTAGE_QTY" header="Wastage Qty" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="USED_QTY" header="Used Qty" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="SUMRETURN" header="Return Item Cost ($)" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="SUMWASTAGE" header="Wastage Item Cost ($)" [style]="{'width':'6%', 'text-align':'center'}">

                                        </p-column>
                                        <p-column field="SUMUSED" header="Used Item Cost ($)" [style]="{'width':'15%', 'text-align':'center'}">

                                        </p-column>
                                    </p-row>
                                </p-headerColumnGroup>
                                <p-column field="ITEM_ID"></p-column>
                                <p-column field="ITEM_DESCRIPTION"></p-column>
                                <p-column field="ISSUE_PRICE"></p-column>
                                <p-column field="ISSUE_UOM"></p-column>
                                <p-column field="ITEM_COUNT" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="RETURNQTY" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="WASTAGE_QTY" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="USED_QTY" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="SUMRETURN" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="SUMWASTAGE" [style]="{'text-align':'right'}">

                                </p-column>
                                <p-column field="SUMUSED" [style]="{'text-align':'right'}">

                                </p-column>

                                <p-footerColumnGroup>
                                    <p-row>
                                        <p-column footer="Totals" colspan="7" class="totalsFont" [style]="{'text-align':'right'}"></p-column>
                                        <p-column footer="{{totalRetCost}}" colspan="2" [style]="{'text-align':'right','font-size':'12px !important'}"></p-column>
                                        <p-column footer="{{totalWastageCost}}" colspan="1" [style]="{'text-align':'right','font-size':'12px !important'}"></p-column>
                                        <p-column footer="{{totalUsedCost}}" colspan="1" [style]="{'text-align':'right','font-size':'12px !important'}"></p-column>

                                    </p-row>
                                </p-footerColumnGroup>

                            </atpar-datatable>
                            </div>
                            <br />
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" (click)="onBackClick()">Go Back &nbsp;<i class="fa fa-arrow-left"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<mail-dialog header="Enter Recipient`s Email Address" [width]="450" (onClose)="closeMailPopup()" [(visible)]="isMailDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin-top:2%;margin-right:-2%">
                <span style="font-weight:600">To : </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <atpar-text [(ngModel)]="toMailAddr" [name]="txtToMailAddr" [id]="'txtToMailAddr'"></atpar-text>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <span><button class="btn btn-purple sbtn" (click)="onSendMailClick()">Send &nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></button> </span>
            </div>
        </div>
    </div>
</mail-dialog>

