<div [ngClass]="{'ui-calendar':true,'ui-calendar-w-btn':showIcon}" [ngStyle]="style" [class]="styleClass">
    <template [ngIf]="!inline">
        <div style="width:100%!important;">
            <input #inputfield type="text" [attr.required]="required" atpar-inputtext [value]="inputFieldValue" [id]="id"
                   (focus)="onInputFocus(inputfield, $event)" (keydown)="onInputKeydown($event)" (click)="closeOverlay=false" (blur)="onInputBlur($event)"
                   [readonly]="readonlyInput" (input)="onInput($event)" [ngStyle]="inputStyle" [class]="inputStyleClass" [placeholder]="placeholder||''" disabled [attr.tabindex]="tabindex" style="width:100%;border:1px solid #ccc;border-radius:4px;cursor:default;">

            <button class="btn btn-purple" type="button" [icon]="icon" atpar-button *ngIf="showIcon" (click)="onButtonClick($event,inputfield)" [ngClass]="{'ui-datepicker-trigger':true,'ui-state-disabled':disabled}" [disabled]="disabled"></button>
        </div>
    </template>

    <div #datepicker class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" [ngClass]="{'ui-datepicker-inline':inline,'ui-shadow':!inline,'ui-state-disabled':disabled,'ui-datepicker-timeonly':timeOnly}"
         [ngStyle]="{'display': inline ? 'inline-block' : (overlayVisible ? 'block' : 'none')}" (click)="onDatePickerClick($event)" [@overlayState]="inline ? 'visible' : (overlayVisible ? 'visible' : 'hidden')" *ngIf="closeDiv">

        <div class="datepicker_first">
            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" *ngIf="!timeOnly && (overlayVisible || inline)" style="margin-right: -0.18px">
                <ng-content select="p-header"></ng-content>
                <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="prevMonth($event)">
                    <span class="fa fa-angle-left"></span>
                </a>
                <!--<div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{currentMonthText}}</span>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{currentYear}}</span>
                </div>-->
                <a class="ui-datepicker-next ui-corner-all" href="#" (click)="nextMonth($event)" style="right:0.2em !important">
                    <span class="fa fa-angle-right"></span>
                </a>
                <div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{currentMonthText}}</span>
                    <select class="ui-datepicker-month" *ngIf="monthNavigator" (change)="onCurrentMonthDropdownChange($event.target.value)">
                        <option [value]="i" *ngFor="let month of locale.monthNames;let i = index" [selected]="i == currentMonth">{{month}}</option>
                    </select>
                    <select class="ui-datepicker-year" *ngIf="yearNavigator" (change)="onCurrentYearDropdownChange($event.target.value)">
                        <option [value]="year" *ngFor="let year of yearOptions" [selected]="year == currentYear">{{year}}</option>
                    </select>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{currentYear}}</span>
                </div>
            </div>

            <table class="ui-datepicker-calendar" *ngIf="!timeOnly && (overlayVisible || inline)">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                            <span>{{weekDay}}</span>
                        </th>
                    </tr>
                </thead>

                <tbody class="calendar-td">

                    <tr *ngFor="let week of dates">
                        <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month ui-state-disabled':date.otherMonth,
                                'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                            <a class="ui-state-default" href="#" *ngIf="date.otherMonth ? showOtherMonths : true"
                               [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today,'ui-state-disabled':!date.selectable}"
                               (click)="onDateSelect($event,date)">{{date.day}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="datepicker_last">
            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" *ngIf="!timeOnly && (overlayVisible || inline)">
                <ng-content select="p-header"></ng-content>
                <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="prevMonth($event)">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="" (click)="onClose()" title="Close">
                    <span class="fa fa-close close-btn-icon" style="cursor:pointer;"></span>
                </a>
                <a class="ui-datepicker-next ui-corner-all" href="#" (click)="nextMonth($event)">
                    <span class="fa fa-angle-right"></span>
                </a>
                <!--<div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{nextMonthText}}</span>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{nextcurrentYear}}</span>
                </div>-->
                <div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{nextMonthText}}</span>
                    <select class="ui-datepicker-month" *ngIf="monthNavigator" (change)="onNextMonthDropdownChange($event.target.value)">
                        <option [value]="i" *ngFor="let month of locale.monthNames;let i = index" [selected]="i == monthNext">{{month}}</option>
                    </select>
                    <select class="ui-datepicker-year" *ngIf="yearNavigator" (change)="onNextYearDropdownChange($event.target.value)">
                        <option [value]="year" *ngFor="let year of yearOptions" [selected]="year == nextcurrentYear">{{year}}</option>
                    </select>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{nextcurrentYear}}</span>
                </div>
            </div>

            <table class="ui-datepicker-calendar" *ngIf="!timeOnly && (overlayVisible || inline)">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                            <span>{{weekDay}}</span>
                        </th>
                    </tr>
                </thead>

                <tbody class="calendar-td">

                    <tr *ngFor="let week of dates1">
                        <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month ui-state-disabled':date.otherMonth,
                                'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                            <a class="ui-state-default" href="#" *ngIf="date.otherMonth ? showOtherMonths : true"
                               [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today,'ui-state-disabled':!date.selectable}"
                               (click)="onDateSelect($event,date)">{{date.day}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
<style>
   
    .datepicker_last {
        display: inline-block !important;
        margin-left: -3.1719px;
        border-left: 1px solid #ddd;
        min-height: 245px;
        width:49.82%;
    }

    .datepicker_first {
        padding-left: 1px !important;
        min-height: 245px !important;
        display: inline-block !important;
        /*border-right: 3px solid #bebebe;*/
        width:50%;
    }

    table tbody.calender-td tr td {
        padding: 0 !important;
    }

    .close-btn-icon {
        color: white !important;
        position: absolute;
        /*right: -24px;*/
        right: 0;
        background: #6c276a;
        border-radius: 0;
        top: 0px;
        padding: 7px;
    }

        .close-btn-icon fa {
            margin: -6px 0px 0 -3px;
        }

    .ui-datepicker-prev {
        left: 0.2em !important;
    }
    .ui-datepicker.ui-widget {
        top: 35.4px !important;
        margin-left: -1px !important;
        margin-top:0;
        width:458.5px!important;
    }

    @media screen and (max-width:650px){       
        .datepicker_last {
           display: inline!important;
           width:100%;
         }

        .datepicker_first {
          display: inline!important;
          width:100%;
        }
    }
    @media screen and (max-width:600px){
          .ui-datepicker.ui-widget{
            width:100%!important;
         }
    }
    @media screen and (min-width:768px) and (max-width:840px){
        .ui-calendar.ui-calendar-w-btn input{
            font-size:10px;
        }
        .ui-calendar button{
            right:-29px!important;
        }
    }

</style>