<div id="main" class="content-page">
    <div class="content">
        <div class="container x_panel no-border">
            <br>
            <div class="panel panel-default" style="border: 1px solid #eee;">
                <div class="panel-body" style="padding:0px;">
                    <div class="col-xs-12">
                        <form class="form-horizontal form-label-left">                    
                            <div class="form-group">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Org Group ID </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <label *ngIf="blnShowOrgGroupLabel" class="control-label lbl-left">{{orgGrpId}}</label> 
                                    <atpar-select [options]="lstOrgGroups" *ngIf="blnShowOrgGroupDD" [isfocus]="blnShowOrgGroupDD" [id]="'ddllstOrgGroups'" filter="filter" [(ngModel)]="newItem.ORG_GROUP_ID"  [ngModelOptions]="{standalone: true}" [name]="ddlOrgId" [required]="true"  (onChange)="ddlOrgGrpIdChanged()">
                                    </atpar-select>
                                    <!--<input type="text" class="form-control " placeholder="" value="MHS_MHS" class="form-control  bdr-red" disabled>-->
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Item ID </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text *ngIf="txtShowItemId" [id]="'txtItemId'" [(ngModel)]="newItem.ITEM_ID" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [name]="'txtItemId'" [validations]="'mandatory,alpha_numeric_dot_underscore_nospace'" [title]="'Use only letters (a-z)(A-Z), numbers (0-9), the underscore(_), dot (.) and no spaces'"></atpar-text>
                                    <!--<atpar-textbox *ngIf="txtShowItemId" [(ngModel)]="newItem.ITEM_ID" [id]="ITEM_ID" [name]="txtItemId" [ngModelOptions]="{standalone: true}"></atpar-textbox>-->
                                    <label *ngIf="lblShowItemId" class="control-label lbl-left">{{newItem.ITEM_ID}}</label>
                                    <!--<input type="text" atpar-inputtext class="form-control " placeholder="" class="form-control  bdr-red">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z)(A-Z), numbers (0-9), the underscore(_), dot (.) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Lead Time </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.LEAD_TIME" [id]="'txtLeadTime'" [name]="'txtLeadTime'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'numeric,max=4'"  [title]="'Use only numbers (0-9)'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only numbers (0-9)
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Short Description </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.SHORT_DESCR" [id]="'txtShortDesc'" [name]="'txtShortDesc'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Long Description </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.LONG_DESCR" [id]="'txtLongDesc'" [name]="'txtLongDesc'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Vendor ID </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-select [options]="lstVendordata" [(ngModel)]="newItem.VENDOR_ID" [id]="'ddlvendors'" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true" (onChange)="ddlChange()"></atpar-select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Cust. Item ID</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.CUST_ITEM_ID" [id]="'txtCustItemId'" [name]="'txtCustItemId'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z)(A-Z), numbers (0-9), the underscore(_),and no spaces'" ></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Manufacturer </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.MANUFACTURER" [id]="'txtManufacturer'" [name]="'txtManufacturer'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'alpha_numeric_underscore_ampersand_hyphen_spaces'" [title]="'Use only letters (a-z), numbers (0-9), the underscore(_), & , - and spaces'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_), &amp;, - and spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Manufacturer Item ID </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.MFG_ITEM_ID" [id]="'txtMgfItemId'" [name]="'txtMgfItemId'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Vendor Item ID</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.VEND_ITEM_ID" [id]="'txtVendItemId'" [name]="'txtVendItemId'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,alpha_numeric_underscore_nospace'" [title]="' Use only letters (a-z)(A-Z), numbers (0-9), the underscore(_),and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control " placeholder="" class="form-control  bdr-red">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">UOM (Procurement)</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.UNIT_OF_PROCUREMENT" [id]="'txtUomProcurement'" [name]="'txtUomProcurement'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,caps_alpha_nospace,max=5'" [title]="'Use only letters (A-Z) and no spaces'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (A-Z) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Par UOM</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.PAR_UOM" [id]="'txtUom'" [name]="'txtUom'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'caps_alpha_nospace,max=5'" [title]="'Use only letters (A-Z) and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control " placeholder="" class="form-control  bdr-red">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (A-Z) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">UOM (Issue)</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.UNIT_OF_ISSUE" [id]="'txtUomIssue'" [name]="'txtUomIssue'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,caps_alpha_nospace,max=5'" [title]="'Use only letters (A-Z) and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control " placeholder="" class="form-control  bdr-red">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (A-Z) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> UPC ID</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.UPC_CODE" [id]="'txtUpcId'" [name]="'txtUpcId'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple " placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> GTIN</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.GTIN" [id]="'txtGtin'" [name]="'txtGtin'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Procurement Price</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.ITEM_PRICE" [id]="'txtItemPrice'" [name]="'txtItemPrice'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'numeric_dot'" [title]="'Use only numbers (0-9) and .(dot)'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only numbers (0-9) and .(dot)
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Conversion Rate(Procurement)</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.CONV_FACTOR" [id]="'txtConvRateProc'" [name]="'txtConvRateProc'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,numeric_dot'" [title]="'Use only numbers (0-9) and .(dot)'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only numbers (0-9) and .(dot)
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Conversion Rate(Par UOM)</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.CONV_RATE_PAR_UOM" [id]="'txtParUom'" [name]="'txtParUom'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'numeric_dot'" [title]="'Use only numbers (0-9) and .(dot)'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only numbers (0-9) and .(dot)
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 "> Lot Controlled</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="lotControlledChecked($event)" [(ngModel)]="newItem.LOT_CONTROLLED_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Checking this will force the user to enter lot number while counting
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 ">Serial Controlled</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="serialControlledChecked($event)" [(ngModel)]="newItem.SERIAL_CONTROLLED_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Checking this will force the user to enter serial number while counting
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 ">Implant Item</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="implantItemChecked($event)" [(ngModel)]="newItem.IMPLANT_FLAG_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Checking will make the item as Implant
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Charge Code</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.CHARGE_CODE" [id]="'txtChargeCode'" [name]="'txtChargeCode'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" 
                                                [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z), numbers (0-9), the underscore(_) and no spaces'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Use only letters (a-z), numbers (0-9), the underscore(_) and no space
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 ">Replenishment Type</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-select [options]="lstReplenishment" [required]="true" [id]="'ddlReplenish'" [(ngModel)]="newItem.REPLENISHMENT_TYPE" [ngModelOptions]="{standalone: true}" (onChange)="ddlChange()"></atpar-select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 "> Latex Free</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="latexFreeChecked($event)" [(ngModel)]="newItem.LATEX_FREE_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Custom Item Desc</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                    <atpar-text [(ngModel)]="newItem.CUST_ITEM_DESCR" [id]="'txtCustItemDesc'" [name]="txtCustItemDesc" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="' Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Item Category</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.ITEM_CATEGORY" [id]="'txtItemCtgry'" [name]="'txtItemCtgry'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> User Field 1</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.USER_FIELD_1" [id]="'txtUserField1'" [name]="'txtUserField1'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> User Field 2</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.USER_FIELD_2" [id]="'txtUserField2'" [name]="'txtUserField2'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Any character A-Z, a-z, 0-9, !, ', #, $...
                                </div>-->
                            </div>
                            <div class="form-group" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 "> Pharmacy Item</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="pharmacyChecked($event)" [(ngModel)]="newItem.PHARMACY_FLG_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Pharmacy item is the items which are used for preparation of Medicine
                                </div>
                            </div>
                            <div class="form-group" *ngIf="pharma" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 "> Substitute Item</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="substisuteItemChecked($event)" [(ngModel)]="newItem.SUBSTITUTE_ITEM_FLG_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Substitute item should be a pharmacy item and subsitute item will be added to main phamacy item when it is checked. When main pharmacy item is not available then substitute item will be used
                                </div>
                            </div>
                            <div class="form-group" *ngIf="pharma" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Strength</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.STRENGTH" [id]="'txtStrength'" [name]="'txtStrength'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Drug Strength
                                </div>
                            </div>
                            <div class="form-group" *ngIf="pharma" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> Dosage Form</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.DOSAGE" [id]="'txtDosage'" [name]="'txtDosage'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'everything'" [title]="'Any character A-Z, a-z, 0-9, !, #, $...'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple" placeholder="">-->
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Drug dosage form
                                </div>
                            </div>
                            <div class="form-group" *ngIf="pharma" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 ">Everify</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-switch (change)="everifyChecked($event)" [(ngModel)]="newItem.EVERIFY_FLG_STATUS" [ngModelOptions]="{standalone: true}"></atpar-switch>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Checking this will force two users to verify after the drug preparation
                                </div>
                            </div>
                            <div class="form-group" *ngIf="pharma" style="margin-top: 1%;">
                                <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12"> CIndex</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <atpar-text [(ngModel)]="newItem.CINDEX" [id]="'txtCiIndex'" [name]="'txtCiIndex'" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'numeric,max=5'" [title] ="'Index for defining the Complexity, 1 being lowest'"></atpar-text>
                                    <!--<input type="text" atpar-inputtext class="form-control bdr-purple " placeholder="">-->
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    Index for defining the Complexity, 1 being lowest
                                </div>-->
                            </div>
                            <!--  <div class="ln_solid"></div> -->
                            <div class="col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12">
                                <!--        <div class="btn-group">
                                    <button type="submit" class="btn btn-success">Add</button>
                                    <button type="submit" class="btn btn-default" (click)="close()" id="back">Go Back</button>
                                </div> -->
                                <!--<button class="btn btn-purple sbtn" type="button" (click)="addSetupItems()" [disabled]="disableButton"><i class="fa fa-check" *ngIf="!buttoniconstatus"></i> {{submitButtonTitle}} &nbsp;<i class="fa fa-plus" *ngIf="buttoniconstatus"></i></button>-->
                                <button class="btn btn-purple sbtn" type="button" (click)="addSetupItems()" [disabled]="disableButton">{{submitButtonTitle}} &nbsp;<i class="fa fa-{{bindSymbol}}"></i></button>
                                <button class="btn btn-purple sbtn" type="button" (click)="goBack()" id="back"><i class="fa fa-arrow-left"></i> &nbsp;Go Back</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <atpar-growl [value]="msgs" sticky="sticky"></atpar-growl>
</div>
