<div id="main" class="content-page">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="panel panel-default" style="border: 1px solid #eee;">
                <div class="panel-body" style="padding:0px;">
                    <div class="col-xs-12 ">
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                <label for="" class="control-label col-xs-12 col-sm-6 col-md-4">Org Group ID</label>
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <label class="control-label lbl-left" *ngIf="!showOrgDropdown">{{LBL_ORG_GROUP_ID}}</label>
                                    <atpar-select [options]="lstOrgGroups" *ngIf="showOrgDropdown" [required]="true" [id]="'ddlOrgGroupId'" [(ngModel)]="ORG_GROUP_ID" [ngModelOptions]="{standalone: true}" filter="filter" (onChange)="ddlOrgGroup_SelectedIndexChanged($event)"></atpar-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                <label for="" class="control-label col-xs-12 col-sm-6 col-md-4">User ID</label>
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <atpar-select [options]="lstUsers" [required]="true" [id]="'ddlUser'" [(ngModel)]="selectedUser" [ngModelOptions]="{standalone: true}" filter="filter" (onChange)="ddlUserChange()"></atpar-select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                                <button class="btn btn-purple sbtn" (click)="btnGo_Click()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 table-responsive" *ngIf="lstAccessFields.length>0">
                        <div class="container" style="text-align:center">
                            <atpar-datatable [value]="lstAccessFields" [style]="{'width':'75%'}" [paginator]="false" [pageLinks]="3" [rows]="pazeSize" [rowsPerPageOptions]="[10,20, 30, 40, 50, 60, 70, 80, 90, 100]" [globalFilter]="gb" [responsive]="true">
                                <p-column field="FIELD_NAME" header="Field" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'30%'}"> </p-column>
                                <p-column header="Display">
                                    <template let-col let-ven="rowData" pTemplate="body">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="ven.IS_DISPLAY" style="margin-left:121px;width:15%" >
                                    </template>
                                </p-column>
                                <p-column header="Edit">
                                    <template let-col let-ven="rowData" pTemplate="body">
                                        <input type="checkbox" class="checkbox" [(ngModel)]="ven.IS_EDIT" style="margin-left:121px;">
                                    </template>
                                </p-column>
                                <p-column header="Scan Order">
                                    <template let-ven="rowData" pTemplate="body">
                                        <atpar-text-grid [name]="txtSCorder" [id]="ven.SCANORDER_ID" [(ngModel)]="ven.SCAN_ORDER" [ngModelOptions]="{standalone: true}" [validations]="'numeric'" (keyup)="txtScan_Keyup($event,lstAccessFields)"></atpar-text-grid>
                                    </template>
                                </p-column>
                            </atpar-datatable>
                        </div>
                        <br />
                        <div class="col-xs-12 col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-3">
                            <button class="btn btn-purple sbtn" (click)="btnSubmit_Click()" [disabled]="disableSubmitButton">Submit &nbsp;<i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>