<div [ngClass]="{'ui-calendar':true,'ui-calendar-w-btn':showIcon}" [ngStyle]="style" [class]="styleClass">
    <template [ngIf]="!inline">
        <div style="width:200px;">
            <input #inputfield type="text" [attr.required]="required" atpar-inputtext [value]="inputFieldValue" [id]="id"
                   (focus)="onInputFocus(inputfield, $event)" (keydown)="onInputKeydown($event)" (click)="closeOverlay=false" (blur)="onInputBlur($event)"
                   [readonly]="readonlyInput" (input)="onInput($event)" [ngStyle]="inputStyle" [class]="inputStyleClass" [placeholder]="placeholder||''" [disabled]="disabled" [attr.tabindex]="tabindex">

            <button class="btn btn-purple" type="button" [icon]="icon" atpar-button *ngIf="showIcon" (click)="onButtonClick($event,inputfield)" [ngClass]="{'ui-datepicker-trigger':true,'ui-state-disabled':disabled}" [disabled]="disabled"></button>
        </div>
    </template>

    <div #datepicker class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" [ngClass]="{'ui-datepicker-inline':inline,'ui-shadow':!inline,'ui-state-disabled':disabled,'ui-datepicker-timeonly':timeOnly}"
         [ngStyle]="{'display': inline ? 'inline-block' : (overlayVisible ? 'block' : 'none')}" (click)="onDatePickerClick($event)" [@overlayState]="inline ? 'visible' : (overlayVisible ? 'visible' : 'hidden')" style="width:463px !important;">

        <div class="datepicker_first">
            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" *ngIf="!timeOnly && (overlayVisible || inline)">
                <ng-content select="p-header"></ng-content>
                <a class="ui-datepicker-prev ui-corner-all" href="#" (click)="prevMonth($event)">
                    <span class="fa fa-angle-left"></span>
                </a>
                <div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{currentMonthText}}</span>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{currentYear}}</span>
                </div>
            </div>

            <table class="ui-datepicker-calendar" *ngIf="!timeOnly && (overlayVisible || inline)">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                            <span>{{weekDay}}</span>
                        </th>
                    </tr>
                </thead>

                <tbody class="calendar-td">

                    <tr *ngFor="let week of dates">
                        <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month ui-state-disabled':date.otherMonth,
                                'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                            <a class="ui-state-default" href="#" *ngIf="date.otherMonth ? showOtherMonths : true"
                               [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today,'ui-state-disabled':!date.selectable}"
                               (click)="onDateSelect($event,date)">{{date.day}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="datepicker_last">
            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" *ngIf="!timeOnly && (overlayVisible || inline)">
                <ng-content select="p-header"></ng-content>
                <a class="ui-datepicker-next ui-corner-all" href="#" (click)="nextMonth($event)">
                    <span class="fa fa-angle-right"></span>
                </a>
                <div class="ui-datepicker-title">
                    <span class="ui-datepicker-month" *ngIf="!monthNavigator">{{nextMonthText}}</span>
                    <span class="ui-datepicker-year" *ngIf="!yearNavigator">{{nextcurrentYear}}</span>
                </div>
            </div>

            <table class="ui-datepicker-calendar" *ngIf="!timeOnly && (overlayVisible || inline)">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let weekDay of weekDays;let begin = first; let end = last">
                            <span>{{weekDay}}</span>
                        </th>
                    </tr>
                </thead>

                <tbody class="calendar-td">

                    <tr *ngFor="let week of dates1">
                        <td *ngFor="let date of week" [ngClass]="{'ui-datepicker-other-month ui-state-disabled':date.otherMonth,
                                'ui-datepicker-current-day':isSelected(date),'ui-datepicker-today':date.today}">
                            <a class="ui-state-default" href="#" *ngIf="date.otherMonth ? showOtherMonths : true"
                               [ngClass]="{'ui-state-active':isSelected(date), 'ui-state-highlight':date.today,'ui-state-disabled':!date.selectable}"
                               (click)="onDateSelect($event,date)">{{date.day}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
<style>
    .datepicker_last {
        display: inline-block !important;
    }

    .datepicker_first {
        display: inline-block !important;
        border-right: 3px solid #bebebe;
    }

   table tbody.calender-td tr td{
        padding:0!important;
    }

</style>