<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Allocate Location Groups</h4>
    </div>
    <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border" *ngIf="true">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                   `<label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">                                        
                                        <atpar-text [(ngModel)]="selectedLocGrpId" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="''" [id]="'txtdescription'" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">User ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="lstUsers" [id]="'ddllstUsers'" [required]="true" [(ngModel)]="selectedDropDownUserId" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Location Group ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="selectedLocGrpId" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="''" [id]="'txtdescriptio'"></atpar-text>
                                    </div>
                                </div>	
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                        <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Display</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="lstDisplay" [id]="'ddllstDisplay'" [required]="false" [(ngModel)]="selectedDropDownDisplay" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-5">
                                <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                        <div class="col-xs-12 table-responsive" *ngIf="pop">
                            <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                <p-column field="LOC_GROUP_ID" header="Location Group" sortable="custom" (sortFunction)="customSort($event)" [filter]="true" filterPlaceholder="Search"> </p-column>
                                <p-column field="" header="Description" sortable="custom" (sortFunction)="customSort($event)" [filter]="true" filterPlaceholder="Search"> </p-column>
                                <p-column field="" header="User" sortable="custom" (sortFunction)="customSort($event)" [filter]="true" filterPlaceholder="Search"> </p-column>
                                <p-column header="Select">
                                    <template pTemplate="filter" let-col>
                                        <ul class="list-inline">
                                            <li>

                                                <span style="cursor:pointer">All</span>
                                            </li> |
                                            <li>
                                                <span style="cursor:pointer">None</span>

                                            </li>
                                        </ul>
                                    </template>
                                    <template let-ven="rowData" pTemplate="body">
                                        <atpar-switch></atpar-switch>
                                    </template>
                                </p-column>
                            </atpar-datatable>
                            <br>
                            <div class="col-xs-12 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" id="btnsubmitForGrid" >Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

