<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Release Orders</h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.LocationID1" [name]="txtLocationID1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'LocationID1'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Business Unit</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [id]="'ddlSts'" [(ngModel)]="selectedCity" [required]="true" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Order No - Pick Batch ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.LocationID" [name]="txtLocationID" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'LocationID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <div style="clear:both;"></div>
                        <div class="col-xs-12 table-responsive" *ngIf="pop">
                            <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                <p-column field="BUSINESS_UNIT" header="Business Unit" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="FIRST_NAME" header="Order No - Pick Batch ID" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="DOWNLOAD_DT_TIME" header="Date/Time" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>                           
                                <p-column field="USERNAME" header="User ID" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column header="Select">
                                    <template pTemplate="filter" let-col>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="">All</a>
                                            </li> |
                                            <li>
                                                <a href="">None</a>
                                            </li>
                                        </ul>
                                    </template>
                                    <template let-ven="rowData" pTemplate="body">
                                        <atpar-switch></atpar-switch>
                                    </template>
                                </p-column>
                            </atpar-datatable>
                            <br>
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" (click)="go()">Unlock &nbsp; <i class="fa fa-unlock"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
