<div id="main" class="content-page">
    <div class="content">
        <div class="page-header-title">
            <h4 class="page-title"><a (click)="homeurl()">Administration ></a> Change Password</h4>
        </div>
        <div class="page-content-wrapper">
            <div class="container x_panel no-border" *ngIf="!import">
                <br>
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <div class="col-md-12">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Old Password</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.OLDPWD" [name]="txtOLDPWD" [validations]="'mandatory,except_less_greater_symbols'" [id]="'OLDPWD'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Enter existing password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">New Password</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.NEWPWD" [name]="txtNEWPWD" [validations]="'mandatory,except_less_greater_symbols'" [id]="'NEWPWD'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Complexity of the password is Any Characters
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Password</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                         <atpar-text [(ngModel)]="newItem.CONFPWD" [name]="txtCONFPWD" [validations]="'mandatory,except_less_greater_symbols'" [id]="'CONFPWD'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Hint Question</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                     <atpar-text [(ngModel)]="newItem.HINTQST" [name]="txtHINTQST" [validations]="'mandatory,except_less_greater_symbols'" [id]="'HINTQST'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Make your own question
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Hint Answer</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                      <atpar-text [(ngModel)]="newItem.HINTANS" [name]="txtHINTANS" [validations]="'mandatory,except_less_greater_symbols'" [id]="'HINTANS'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        Make sure your answer is memorable for you.
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-12">
                                    <button type="submit" class="btn btn-purple">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
