<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Setup Location </h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">

                        <form class="form-horizontal form-label-left" *ngIf="page">
                            <div class="col-xs-12">
                                <button class="btn btn-purple sbtn pull-right" (click)="add()"><i class="fa fa-plus"></i> &nbsp; Add Location</button>
                                <br>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.OrgId1" [name]="txtOrgId1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'OrgId1'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Status</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.Status" [name]="txtStatus" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Status'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Location ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.LocationID1" [name]="txtLocationID1" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'LocationID1'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Location Name</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.LocationName" [name]="txtLocationName" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'LocationName'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                                <div style="clear:both;"></div>
                                <!--<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                    
                                </div>-->
                            </div>
                        </form>
                        <div class="col-xs-12 table-responsive" *ngIf="pop">
                            <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                <p-column expander="true" styleClass="col-icon"></p-column>
                                <p-column field="SETCNTRLVALUE" header="Org Id" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="LOCATION" header="Location Id" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column field="LOCATION_NAME" header="Location Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                <p-column header="Action">
                                    <template let-ven="rowData" pTemplate type="body">
                                        <atpar-switch></atpar-switch>
                                    </template>
                                </p-column>
                                <template let-employee pTemplate="rowexpansion">
                                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-3" style="text-align:center">
                                                <i class="fa fa-search" (click)="showCar(employee)" style="cursor:pointer;float:left;margin-top:40px"></i>
                                            </div>
                                            <div class="ui-grid-col-9">
                                                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                                    <div class="ui-grid-row">
                                                        <div class="ui-grid-col-2"><span class="datatablespan">Location Id</span></div>
                                                        <div class="ui-grid-col-10">{{employee.LOCATION}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                                <!--<p-footer></p-footer>-->
                            </atpar-datatable>

                            <div class="col-xs-12 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn">Submit &nbsp; <i class="fa fa-check"></i></button>
                                <!--  <button class="btn btn-purple sbtn" (click)="hideDialog()"><i class="fa fa-arrow-left"></i> &nbsp;Go Back</button> -->
                            </div>
                        </div>
                        <form class="form-horizontal form-label-left" *ngIf="form">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12 ">Org ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-select [options]="cities" [required]="true" [id]="'ddlOrggroupid'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        <!--  <i class="fa fa-question tooltip_text" aria-hidden="true" data-toggle="tooltip" title="" data-original-title="[Upload To]"></i> -->
                                        [Select Org Type ]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Department ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.DepartmentID" [name]="txtDepartmentID" *ngIf="!isEditMode" [isFocused]="'true'" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'DepartmentID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Location Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Location" [name]="txtLocation" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Location'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [ Any character A-Z,a-z,0-9,!,', #,$...]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Address1</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Address1" [name]="txtAddress1" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Address1'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Address2</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Address2" [name]="txtAddress2" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Address2'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.City" [name]="txtCity" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'City'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only letters(a-z),numbers (0-9),the underscore(_)]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.State" [name]="txtState" *ngIf="!isEditMode" [validations]="'mandatory,alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'State'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">ZIP</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.ZIP" [name]="txtZIP" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'ZIP'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use the format 1231231234]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Phone" [name]="txtPhone" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Phone'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use the format 1231231234]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Attention To</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Attention" [name]="txtAttention" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Attention'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Email" [name]="txtEmail" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Email'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use the format user@domainname.com]
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="industry" class="control-label col-md-3 col-sm-3 col-xs-12">Comments</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [(ngModel)]="newItem.Comments" [name]="txtDepartmentID" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'Comments'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        [Use only A-Z,a-z,0-9,#]
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple small" (click)="go()">Add &nbsp; <i class="fa fa-plus"></i></button>
                                    <button class="btn btn-purple small" (click)="close()"><i class="fa fa-arrow-left"> &nbsp;</i>Go Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
