<div id="main" class="content-page">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title"><a (click)="homeurl()">Administration ></a> Setup Cost Center</h4>

            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <!--<div class="row">
                                  <div class="col-sm-12">
                                    <h4 class="page-header m-t-0"> User Parameters Tabs Section</h4>
                                  </div>
                                </div>-->
                                <div class="row">
                                    <div id="page-title"> </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <h3 class="title-hero"> </h3>
                                                    <div class="example-box-wrapper">
                                                        <table cellspacing="0" rules="all" border="1" style="width:100%;border-collapse:collapse;">
                                                            <tbody>
                                                                <tr>
                                                                    <td><a>Org Group ID</a></td>
                                                                    <td><a>Cost Center Code</a></td>
                                                                    <td><a>Description</a></td>
                                                                    <td><a>Department</a></td>
                                                                    <td><a>User</a></td>
                                                                    <td><a>Current Status</a></td>
                                                                    <td><a>Action</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>MHS</td>
                                                                    <td><a>cs</a></td>
                                                                    <td>cs</td>
                                                                    <td>123 - 123</td>
                                                                    <td>DEMO  WEB(DEMOWEB)</td>
                                                                    <td>
                                                                        <span>InActive</span>
                                                                    </td>
                                                                    <td><a>Active</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>MHS</td>
                                                                    <td><a>csr</a></td>
                                                                    <td>kjkj</td>
                                                                    <td>123 - 123</td>
                                                                    <td>DEMO  WEB(DEMOWEB)</td>
                                                                    <td>
                                                                        <span>Active</span>
                                                                    </td>
                                                                    <td><a>InActive</a></td>
                                                                </tr>
                                                                <tr align="right">
                                                                    <td colspan="7"><span>1</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
