<!----------LeftBar Content-------------->
<!--<leftbar-cmp [style.display]="getMenu()" [inputData]="data" ></leftbar-cmp>-->
<!----------dashboard Content-------------->
<div id="main" class="content-page" [style.margin]="getMargin()">
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div class="content">
        <!--<div>
            <div class="row">
                <ul class="breadcrumb">
                    <li class="completed1"><a>Atpar</a></li>
                    <li class="completed"><a>{{activeMenu}}</a></li>
                   </ul>
            </div>
        </div>-->
        <div class="page-content-wrapper ">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="">
                            <div class="panel panel-primary">
                                <div class="panel-body" style="margin:20% 0 0 0;">
                                    <div class="row" style="display:none;">
                                        <div class="col-sm-12">
                                            <span class="breadcrumb" style="padding: 8px 15px 8px 0;"><a> AtPar - Home</a></span>
                                            <hr>
                                        </div>
                                    </div>                                   
                                    <!--new ui for the dashboard page-->                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
