
<style>
    .no-shadow {
        box-shadow: none !important;
    }

    .bdr-1 {
        border: 1px solid #eee !important;
    }

    .panel-green {
        box-shadow: 0 0 6px 0 hsla(0,0%,66%,.5) !important;
        border: 1px solid #e1e1e1 !important;
    }

        .panel-green > .panel-body {
            border-left: 10px solid #7cb82f;
        }

    .panel-blue {
        box-shadow: 0 0 6px 0 hsla(0,0%,66%,.5) !important;
        border: 1px solid #e1e1e1 !important;
    }

        .panel-blue > .panel-body {
            border-left: 10px solid #00aeb3;
        }

    .panel-pink {
        box-shadow: 0 0 6px 0 hsla(0,0%,66%,.5) !important;
        border: 1px solid #e1e1e1 !important;
    }

        .panel-pink > .panel-body {
            border-left: 10px solid #de60f5;
        }

    .scrl-pnl {
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 481px;
    }

    .ui-datatable tbody tr td .form-control, table tbody tr td .form-control {
        height: auto !important;
        margin-top: -10px;
    }

    .table-inner-style, tbody tr td {
        padding: 12px;
    }

    .border-panel {
        border-bottom: 1px solid #e1e1e1;
    }

    .ten-padding {
        padding: 10px;
    }

    .thirty-padding {
        padding: 25px 0;
    }

    .margin-border {
        border-bottom: 1px solid #e1e1e1;
        padding: 4px;
    }

    th {
        text-align: center;
    }

    .new-ht td .input-group .input-group-addon {
        line-height: 0 !important;
    }

    .disabled {
        cursor: none;
    }
    .lft-bdr{
        border-left:1px solid #e1e1e1;
    }
     @media screen and (max-width:767px){
        .lft-bdr{
            border-left:0!important;
        }
        .border-panel{
            margin-left:1px;
        }
        .bdr-1 table tr td{
            text-align:center!important;
        }
    }
   @media screen and (min-width:768px) and (max-width:991px){
        .lft-bdr{
            border-left:0!important;
        }
        .border-panel{
            margin-left:15px;
        }
       
    }
</style>
<div id="main" class="content-page">
    <div class="page-content-wrapper">

        <div class="container x_panel no-border" *ngIf="true">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px;">
                        <form class="form-horizontal form-label-left" *ngIf="mainForm" novalidate>
                            <div class="col-xs-12">
                                <div class="col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-6 col-sm-6">Requestor</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [id]="'ddlrequestor'" [required]="true" [options]="requestorData" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [(ngModel)]="selectedRequestor">
                                        </atpar-select>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-6 col-sm-6">Item ID/ Assets ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-ac-server [(ngModel)]="itemIdSearch" [mandatory]="'true'" [id]="'itemID'" [ngModelOptions]="{standalone: true}" [suggestions]="lstFilterItemIDs" (completeMethod)="fillItemIDsAuto($event)"></atpar-ac-server>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3 form-group"  *ngIf="hasSerialId">
                                    <label for="" class="control-label col-xs-12 col-md-6 col-sm-6">Serial #</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                         <atpar-ac-server [(ngModel)]="serialIdSearch" [mandatory]="'true'" [id]="'serialID'" [ngModelOptions]="{standalone: true}" [suggestions]="lstFilterSerialIDs" (completeMethod)="fillSerialIDsAuto($event)"></atpar-ac-server>
                                    </div>
                                </div>
                               
                                <div class="col-xs-12 col-sm-12 col-md-1 form-group">
                                    <button class="btn btn-purple sbtn" (click)="getItem()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                               
                                
                            </div>
                        </form>

                        <div class="col-xs-12" *ngIf="pop"> 
                            <ul class="list-inline">
                                <li><i class="fa fa-square" style="color:#7cb82f;"></i> &nbsp; Box Item</li>
                                <li><i class="fa fa-square" style="color:#00aeb3;"></i>  &nbsp; Equipment Item</li>
                                <li><i class="fa fa-square" style="color:#de60f5;"></i>  &nbsp; Furniture Item</li>
                            </ul>

                            <div class="panel panel-default no-shadow bdr-1">

                                <div class="panel-body">

                                    <div class="col-xs-12 col-md-5 col-sm-12">
                                        <table class="table table-bordered qty-table">
                                            <tbody>
                                                <tr>
                                                    <td>Item ID</td>
                                                    <td><p>{{itemDetails.ITEM_ID}}</p></td>
                                                </tr>
                                                <tr>
                                                    <td>Asset ID</td>
                                                    <td><p>{{itemDetails.ASSET_ID}}</p></td>
                                                </tr>
                                                <tr>
                                                    <td>Description</td>
                                                    <td><p>{{itemDetails.ITEM_DESCR}}</p></td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Location</td>
                                                    <td><p>{{itemDetails.DELIVER_LOCATION}}</p></td>
                                                </tr>
                                                <tr>
                                                    <td>Manufacturer</td>
                                                    <td><p>{{itemDetails.MANUFACTURER}}</p></td>
                                                </tr>
                                                <tr>
                                                    <td>Vendor</td>
                                                    <td><p>{{itemDetails.VENDOR}}</p></td>
                                                </tr>

                                                <tr>
                                                    <td>System Qty</td>
                                                    <td><p>{{itemDetails.ITEM_QTY}}</p></td>
                                                </tr>
                                                <tr class="new-ht">
                                                    <td>Checkout Qty</td>
                                                    <td>                                                        
                                                        <div class="input-group" style="width:150px;">
                                                            <span class="input-group-addon" [attr.disabled]="isDisabled" [style.cursor]="cursor" (click)="decreaseQuantity()"> <a class="text-default" (click)="decreaseQuantity()" [attr.disabled]="isDisabled" [style.cursor]="cursor"> - </a></span>
                                                            <atpar-text [id]="'txtQantity'" [name]="txtQantity" [style]="{'height':'34px'}" [(ngModel)]="itemDetails.COUT_QTY" [ngModelOptions]="{standalone: true}" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only letters (a-z), numbers (0-9), the underscore (_), and no spaces'" [disabled]="isDisabled"></atpar-text>
                                                            <span class="input-group-addon" [attr.disabled]="isDisabled" [style.cursor]="cursor" (click)="increaseQuantity()"> <a class="text-default" (click)="increaseQuantity()" [attr.disabled]="isDisabled" [style.cursor]="cursor"> + </a> </span>
                                                        </div>
                                                       
                                                        <!--<p *ngIf="itemTypeIndicator != 'F'">{{itemDetails.ITEM_QTY}}</p>-->

                                                    </td>
                                                </tr>
                                                <tr *ngIf="strPatientCharge=='Y'">
                                                    <td>Select Patient</td>
                                                    <td>
                                                        <!-- <a style="color:purple;" class="grid-link text-primary" (click)="patientClick(itemDetails)" *ngIf="!isPatient"><u> Select Patient </u></a>-->
                                                        <button class="btn btn-purple btn-lg" (click)="patientClick(itemDetails)" title="Select Patient" *ngIf="!isPatient"><i class="fa fa-user-plus action-icon-fa"></i></button>
                                                        <p *ngIf="isPatient">{{selectedRow.PATIENT}}</p>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="strPatientCharge=='Y'">
                                                    <td>Procedure Code</td>
                                                    <td>
                                                        <div class="input-group" style="width:150px;">
                                                            <atpar-text [id]="'txtProcedureCode'" [name]="txtProcedureCode" [style]="{'height':'34px'}" [(ngModel)]="itemDetails.PROCEDURE_CODE" [ngModelOptions]="{standalone: true}" *ngIf="isProc"></atpar-text>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery Location</td>
                                                    <td><atpar-select [options]="ddlDeliveryLoc" [id]="'ddlDeliveryLoc'" [(ngModel)]="selectedDeliveryLoc" [ngModelOptions]="{standalone: true}" filter="filter" *ngIf="isLoc"></atpar-select></td>
                                                </tr>
                                                <tr class="no-border">
                                                    <td colspan="2">
                                                        <button class="btn btn-purple sbtn pull-right" (click)="addItems()">Add &nbsp; <i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-xs-12 col-md-7 col-sm-12" *ngIf="isAdd">
                                        <div class="panel panel-default no-shadow bdr-1 scrl-pnl">
                                            <div class="panel-body">
                                                <div class="row" *ngFor="let itemDetails of checkOutItemsList">
                                                    <div class="panel panel-green no-shadow bdr-1">
                                                        <div class="panel-body no-padding">
                                                            <div class="">
                                                                <div class="col-md-3">
                                                                    <div class="text-center thirty-padding">
                                                                        <p>Item ID-Serial# : {{itemDetails.ITEM_ID}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-sm-5 col-xs-12 border-panel">
                                                                    <div class="margin-border">
                                                                        <p>Item Description : {{itemDetails.ITEM_DESCR}}</p>
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="col-md-6 col-sm-6 col-xs-12 ten-padding">
                                                                            <p>Assets Id : {{itemDetails.ASSET_ID}}</p>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-6 col-xs-12 ten-padding lft-bdr">
                                                                            <p>Storage Location: {{itemDetails.DELIVER_LOCATION}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2 col-sm-6 col-xs-12">
                                                                    <div class="text-center thirty-padding">
                                                                        <p>CheckOut qty : {{itemDetails.COUT_QTY}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 col-sm-6 col-xs-12 text-center" style="margin-top: 25px;margin-bottom:5px;">
                                                                    <i class="fa fa-close fa-bg bg-red danger" (click)="deleteRow(itemDetails,$event)" style="cursor:pointer"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <button class="btn btn-purple sbtn pull-right" (click)="checkOutItems()">Check Out &nbsp; <i class="fa fa-check"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- Patient Pop up Begin -->

                        <div class="col-xs-12 table-responsive " *ngIf="blnShowPatientsPopup">
                            <div class="container">
                                <atpar-datatable [value]="lstPatients" [paginator]="true" [pageLinks]="3" [rows]="recordsPerPageSize" expandableRows="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [globalFilter]="gb" [responsive]="true">

                                    <p-column header="Select" field="PATIENT_MRC" [style]="{'text-align':'center','width':'46px'}">
                                        <template let-col let-poLineRowData="rowData" pTemplate type="body">

                                            <atpar-radioButton name="linedata" [(ngModel)]="selectedAccountNumber" [disabled]="poLineRowData.ITEM_ID!=null" value={{poLineRowData.PATIENT_MRC}} (onClick)="grdRdbtnChanged($event)"></atpar-radioButton>
                                        </template>
                                    </p-column>

                                    <p-column field="PATIENT_DEPARTMENT" header="Department" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'15%'}"></p-column>
                                    <p-column field="PATIENT_NAME" header="Patient Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PATIENT_MRC" header="Patient MRC" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'14%'}"></p-column>
                                    <p-column field="PATIENT_ACCNUMBER" header="Patient Account #" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'14%'}"></p-column>
                                    <p-column field="PATIENT_BEDNUMBER" header="Bed / Room #" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'12%'}"></p-column>
                                </atpar-datatable>
                            </div>
                            <br>
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5 form-group">
                                <button class="btn btn-purple sbtn" (click)="patientPopupClose()">Save & Close &nbsp; <i class="fa fa-check"></i></button>
                                <button class="btn btn-purple sbtn" (click)="clearPatientSelection()">Clear Selection &nbsp; <i class="fa fa-check"></i></button>
                            </div>
                        </div>

                        <!-- Patient Pop up End -->

                    </div>
                </div>
            </div>
        </div>

        <div class="content-section implementation">
            <atpar-confirmdialog header="Confirmation" icon="fa fa-question-circle" width="425"></atpar-confirmdialog>
        </div>

    </div>
</div>

<div>
    <atpar-growl [value]="msgs" sticky="sticky"></atpar-growl>
</div>

