
<div id="main" class="content-page">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px 0 10px 0;">
                        <div class="container">
                            <form class="form-horizontal form-label-left" *ngIf="showAddButton">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <atpar-text [(ngModel)]="reasonCodeSearch" [name]="reasonCodeSearch" [validations]="'except_less_greater_symbols'" [id]="'reasonCodeSearch'" [ngModelOptions]="{standalone: true}" [placeholder]="'Reason Code / Description'"></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <button type="button" class="btn btn-purple sbtn" name="btnGo" (click)="BindGrid()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                        <button type="button" class="btn btn-purple sbtn" name="btnAdd" (click)="addReasonCode()">Add Reason Code &nbsp;<i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="col-xs-12" *ngIf="table">
                            <div class="container">

                                <atpar-datatable [value]="lstReasonCodes" [paginator]="true" #dt [pageLinks]="3" [rows]="pageSize" expandableRows="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [globalFilter]="gb" [responsive]="true">
                                    <p-column field="" header="Action" [style]="{'width':'4%','text-align':'center'}">
                                        <template let-dept="rowData" pTemplate="body">
                                            <i class="fa fa-pencil fa-bg bg-red" title="Edit" (click)="edit(dept)" style="cursor:pointer;"></i>
                                        </template>
                                    </p-column>
                                    <p-column field="ORG_GROUP_ID" header="Org Group ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '10%'}"></p-column>
                                    <p-column field="REASON_CODE" header="Reason Code" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width':'28%'}"></p-column>
                                    <p-column field="REASON_DESCR" header="Description" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="STATUS" header="Status" [filter]="true" [style]="{'width': '8%','overflow':'visible','text-align':'center'}" filterMatchMode="equals">
                                        <template pTemplate="filter" let-col>
                                            <atpar-select [options]="ddlStatusType" [(ngModel)]="statusType" [style]="{'width':'100%'}" [id]="'ddlddlStatusType'" [required]="false" 
                                                          
                                                          (onChange)="dataFilter($event.value,col.field,col.filterMatchMode)"
                                                       
                                                          ></atpar-select>
                                            <!--(onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"-->
                                        </template>
                                        <template let-col let-dept="rowData" pTemplate="body">
                                            <atpar-switch name="changeStatus" [(ngModel)]="dept.STATUS"  [checked]=dept[col.field] (change)="changeStatus(dept)"></atpar-switch>
                                        </template>
                                    </p-column>
                                    <!--[checked]="dept.STATUS==false?true:false"--> 
                                </atpar-datatable>
                            </div>
                            <div class="clear:both;"></div>
                            <br>

                        </div>
                        <div class="col-md-12" *ngIf="form">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Org Group ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <label *ngIf="blnShowOrgGroupLabel" class="control-label lbl-left">{{orgGrpId}}</label>
                                        <!--<atpar-select [options]="lstOrgGroups" [id]="'ddllstOrgGroups'" [required]="true" [(ngModel)]="selectedOrgGroupId" [ngModelOptions]="{standalone: true}" filter="filter" *ngIf="blnShowOrgGroupDD"></atpar-select>-->

                                        <atpar-select [options]="lstOrgGroups" [id]="'ddllstOrgGroups'" [required]="true" [isfocus]="blnShowOrgGroupDD" [(ngModel)]="selectedOrgGroupId" [ngModelOptions]="{standalone: true}" filter="filter" *ngIf="blnShowOrgGroupDD" (onChange)="ddlOrgIDChanged()" [selectOnKeyPress]="true"></atpar-select>


                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Reason Code</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtReasonCode'" [name]="txtReasonCode" [(ngModel)]="newItem.REASON_CODE" *ngIf="showTextBox && blnShowOrgGroupDD" [ngModelOptions]="{standalone: true}" [validations]="'mandatory,max=30,alpha_numeric_underscore_hyphen_nospace'" [title]="'Reason Code can only have letters(a-z),(A-Z),numbers(0-9),the underscore(_),and hyphen(-)'" (bindModelDataChange)="bindModelDataChange($event)"  ></atpar-text>
                                        <atpar-text [id]="'txtReasonCode'" [name]="txtReasonCode" [(ngModel)]="newItem.REASON_CODE" *ngIf="showTextBox && !blnShowOrgGroupDD" [ngModelOptions]="{standalone: true}" [validations]="'mandatory,max=30,alpha_numeric_underscore_hyphen_nospace'" [title]="'Reason Code can only have letters(a-z),(A-Z),numbers(0-9),the underscore(_),and hyphen(-)'" (bindModelDataChange)="bindModelDataChange($event)" [isFocused]="'true'"></atpar-text>
                                        <label class="control-label lbl-left" *ngIf="showLable">{{newItem.REASON_CODE}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtDesc'" [name]="txtDesc" [(ngModel)]="newItem.REASON_DESCR" [ngModelOptions]="{standalone: true}" [validations]="'max=50,everything'" (bindModelDataChange)="bindModelDataChange($event)" *ngIf="showTextBox"></atpar-text>
                                        <atpar-text [id]="'txtDesc'" [name]="txtDesc" [(ngModel)]="newItem.REASON_DESCR" [ngModelOptions]="{standalone: true}" [validations]="'max=50,everything'" (bindModelDataChange)="bindModelDataChange($event)" *ngIf="!showTextBox" [isFocused]="'true'"></atpar-text>

                                    </div>
                                </div>
                                <div class="col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12">
                                    <button class="btn btn-purple sbtn" type="button" [disabled]="loading" (click)="saveOrUpdateReasonCode()">{{Title}} &nbsp;<i class="fa fa-{{bindSymbal}}"></i></button>
                                    <button class="btn btn-purple sbtn" type="button" (click)="close()"><i class="fa fa-arrow-left"></i> &nbsp;Go Back</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
</div>
