
<div id="main" class="content-page">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px 0 10px 0;">
                        <div class="col-md-12">
                            <form class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Requestor ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtRequetorId'" [isFocused]="'true'" [name]="txtRequetorId" [(ngModel)]="newItem.REQUESTOR_ID" *ngIf="showTextBox" [ngModelOptions]="{standalone: true}" [validations]="'mandatory,max=16,alpha_numeric_underscore_nospace'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Use only letters (a-z), numbers (0-9), the underscore (_), and no spaces'"></atpar-text>
                                        <label class="control-label lbl-left" *ngIf="showLable">{{requestorID}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Password <span class="text-red">*</span></label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="txtPassword"  type="password" class="form-control" name="password" [(ngModel)]="newItem.PASSWORD" maxlength="8" [ngModelOptions]="{standalone: true}" (click)="onFocusPassword()" (focus)="onFocusPassword()"  (keyup)="checkPswdValidation()"  required />
                                       
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtFirstName'" [name]="txtFirstName" [(ngModel)]="newItem.FIRST_NAME" [ngModelOptions]="{standalone: true}" [validations]="'mandatory,max=20,except_less_greater_symbols'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'First name of the user –accepts everything except for < or>'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtLastName'" [name]="txtLastName" [(ngModel)]="newItem.LAST_NAME" [ngModelOptions]="{standalone: true}" [validations]="'mandatory,max=20,except_less_greater_symbols'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Last name of the user –accepts everything except for < or>'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Initial</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtMiddleName'" [name]="txtMiddleName" [(ngModel)]="newItem.MIDDLE_INIT" [ngModelOptions]="{standalone: true}" [validations]="'max=2,except_less_greater_symbols'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Middle initial of the user –accepts everything except for < or>'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Email ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtEmail'" [name]="txtEmail" [(ngModel)]="newItem.EMAIL" [ngModelOptions]="{standalone: true}" [validations]="'max=30,email'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Use the format userid@domainname.com'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Phone #</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtPhone'" [name]="txtPhone" [(ngModel)]="newItem.PHONE" [ngModelOptions]="{standalone: true}" [validations]="'phone,numeric,max=10'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Use the format 1231231234'"></atpar-text>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        <!--[ Use The Format 1231231234]-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Fax #</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtFax'" [name]="txtFax" [(ngModel)]="newItem.FAX" [ngModelOptions]="{standalone: true}" [validations]="'fax,numeric,max=10'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Use the format 1231231234'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Pager #</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtPager'" [name]="txtPager" [(ngModel)]="newItem.PAGER" [ngModelOptions]="{standalone: true}" [validations]="'max=10,numeric'" (bindModelDataChange)="bindModelDataChange($event)" [title]="'Use the format 1231231234'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Records Per Page</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-select [options]="ddRecordsPerPage" [id]="'ddlddRecordsPerPage'" [required]="true" [(ngModel)]="newItem.RECORDS_PER_PAGE" [ngModelOptions]="{standalone:true}"></atpar-select>
                                        <!--<atpar-text [id]="'ddlddRecordsPerPage'" [name]="txtddlddRecordsPerPage" [(ngModel)]="newItem.RECORDS_PER_PAGE" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,numeric,max=2'" [title]="'Use only numbers(1-9)'"></atpar-text>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Default Duration In Days</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-text [id]="'txtDefaultRptDuration'" [name]="txtDefaultRptDuration" [(ngModel)]="newItem.DEFAULT_REPORT_DURATION" [ngModelOptions]="{standalone: true}" (bindModelDataChange)="bindModelDataChange($event)" [validations]="'mandatory,numeric,max=2'" [title]="'Use only numbers(1-9)'"></atpar-text>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Org Group ID</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-select [id]="'ddlOrgGroup'" filter="filter" [required]="true" (onChange)="btnEnableDisable()" [options]="orgGroupData" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" [(ngModel)]="newItem.ORG_GROUP_ID">
                                        </atpar-select>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 help_txt">
                                        <!--Select Organization Group-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Department</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <!--<atpar-listbox [options]="lstDepartments"  (onChange)="btnEnableDisable()"  [(ngModel)]="lstSelectedDepartments" multiple="multiple" [id]="'ddlDepartments'" [required]="true" checkbox="checkbox" filter="filter" [ngModelOptions]="{standalone: true}"></atpar-listbox>-->
                                        <atpar-multiSelect [options]="lstDepartments"  [(ngModel)]="lstSelectedDepartments" (onChange)="btnEnableDisable()" [id]="'ddlDepartments'" [required]="true" [ngModelOptions]="{standalone: true}"></atpar-multiSelect>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">Default Deliver Location</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-select [options]="lstLocations" filter="filter" [id]="'ddlDeliverLocation'" [required]="false" [(ngModel)]="newItem.LOCATION_ID" (onChange)="locationChange()" [ngModelOptions]="{standalone:true}"></atpar-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="test_step_element_id" class="control-label col-md-3 col-sm-3 col-xs-12">User Status</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <atpar-switch [(ngModel)]="newItem.checkStatus" [checked]="newItem.checkStatus" [ngModelOptions]="{standalone:true}" style="cursor:pointer;"></atpar-switch>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12">
                                    <button class="btn btn-purple sbtn" type="button" (click)="createOrModifyRequestor()" [disabled]="loading">{{Title}} &nbsp;<i class="fa fa-{{bindSymbal}}"></i></button>
                                    <button class="btn btn-purple sbtn" type="button" (click)="navigateToRequestorterHome()"><i class="fa fa-arrow-left"></i> &nbsp;Go Back</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<atpar-growl [value]="msgs" sticky="sticky"></atpar-growl>
