<?xml version="1.0" encoding="UTF-8"?>
<!-- URL rewrite config to use route
     this file will be copy to dist folder for deploy purpose -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTPSRedirect" enabled="false" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="RedirectIzendaRequest" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/AtPar/AtParWeb/" logRewrittenUrl="true" />
        </rule>
        
      </rules>
    </rewrite>
	  <staticContent>
      <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
