
<div id="main" class="content-page">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body">
                        <!--style="padding:10px 0 0 0;"-->
                        <form class="form-horizontal form-label-left" novalidate>
                            <div class="col-xs-12">
                                <div class="pull-right" *ngIf="showGrid">
                                    <ul class="list-inline">
                                        <li class="no-padding">
                                            <i class="fa fa-envelope-o fa-bg-lg bg-blue" aria-hidden="true" style="cursor:pointer" id="imgMail" title="Send mail" (click)="onSendMailIconClick($event)"></i>&nbsp;
                                        </li>
                                        <li class="no-padding">
                                            <i class="fa fa-print fa-bg-lg bg-blue" aria-hidden="true" style="cursor:pointer" id="imgPrint" title="Print" (click)="onPrintClick($event)"></i>&nbsp;
                                        </li>
                                        <li class="no-padding">
                                            <i class="fa fa-file-excel-o fa-bg-lg bg-blue" aria-hidden="true" style="cursor:pointer" id="imgExcel" title="Excel Format" (click)="onExportToExcelClick($event)"></i>&nbsp;
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Org Group ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <label class="control-label lbl-left" *ngIf="!showOrgDropdown">{{orgGroupId}}</label>
                                        <atpar-select [options]="lstOrgGroupIds" *ngIf="showOrgDropdown" [required]="true" [id]="'ddlMasterOrgGrp'" [(ngModel)]="orgGroupId" [ngModelOptions]="{standalone: true}" filter="filter" (onChange)="ddlOrgGroup_SelectedIndexChanged($event)"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Business Unit</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="lstBusinessUnits" [id]="'ddlBusinessUnit'" [(ngModel)]="businessUnit" [ngModelOptions]="{standalone: true}" filter="filter"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Event ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-text [(ngModel)]="eventID" [name]="txtEvent" [id]="'txtEvent'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>

                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Item ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-text [(ngModel)]="itemID" [name]="txtItemID" [id]="'txtItemID'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">From Date</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="fromDate" [placeholder]="'From Date'" [dateFormat]="'mm/dd/yy'" [required]="true" [readonlyInput]="true" [ngModelOptions]="{standalone: true}" [yearNavigator]="true"  yearRange="1950:2050"></p-calendar>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">To Date</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <p-calendar [showIcon]="true" [id]="'ToDatePicker'" [(ngModel)]="toDate" [placeholder]="'To Date'" [dateFormat]="'mm/dd/yy'" [required]="true" [readonlyInput]="true" [ngModelOptions]="{standalone: true}" [yearNavigator]="true"  yearRange="1950:2050"></p-calendar>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="btnGo_Click()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div style="clear:both;"></div>
                        <div class="col-xs-12">
                            <div class="container no-scrl" *ngIf="showGrid">
                                <atpar-datatable [value]="lstExceptionDetails" scrollable="true" [paginator]="true" [pageLinks]="3" [rows]="pageSize" expandableRows="true" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [globalFilter]="gb" [responsive]="true">
                                    <p-column header="" [style]="{'width': '4%','overflow':'visible'}" expander="true">
                                    </p-column>
                                    <p-column field="BUSINESS_UNIT" header="BUnit" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '15%'}"></p-column>
                                    <p-column field="EVENT_ID" header="Event ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '8%'}"></p-column>
                                    <p-column field="PARENT_EVENT_ID" header="Parent Event ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '8%'}"></p-column>
                                    <p-column field="ITEM_ID" header="Item ID" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '8%'}"></p-column>
                                    <p-column field="REPORT_DATA_15" header="Custom Item No" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '8%'}"></p-column>
                                    <p-column field="ITEM_DESC" header="Item Description" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '15%'}"></p-column>
                                    <p-column field="LOCATION" header="Location" [sortable]="true" [filter]="true" filterPlaceholder="Search" [style]="{'width': '10%'}"></p-column>



                                    <template let-expandRow pTemplate="rowexpansion">
                                        <atpar-datatable [value]="expandRow.SUB_ITEMS" [paginator]="true" [pageLinks]="3" [rows]="pageSize" [rowsPerPageOptions]="[10,20,30,40,50,60,70,80,90,100]" [globalFilter]="gb" [responsive]="true">
                                            <p-column header="System Qty" field="SYS_QTY" filterPlaceholder="Search"  [style]="{'text-align': 'right'}"></p-column>
                                            <p-column header="Count Qty" field="COUNT_QTY" filterPlaceholder="Search" [style]="{'text-align': 'right'}"></p-column>
                                            <p-column header="Count %" field="COUNT_PERCENT" filterPlaceholder="Search" [style]="{'text-align': 'right'}"></p-column>
                                            <p-column header="Count Date" field="COUNT_DATE1" filterPlaceholder="Search" [style]="{'text-align': 'right'}"></p-column>                                         
                                        </atpar-datatable>
                                    </template>
                                </atpar-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>

<mail-dialog header="Enter Recipient`s Email Address" [width]="450" (onClose)="closeMailPopup()" [(visible)]="isMailDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3" style="margin-top:2%;margin-right:-2%">
                <span style="font-weight:600">To : </span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <atpar-text [(ngModel)]="toMailAddr" [name]="txtToMailAddr" [id]="'txtToMailAddr'"></atpar-text>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                <span><button class="btn btn-purple sbtn" (click)="onSendMailClick()">Send &nbsp;<i class="fa fa-share-square-o" aria-hidden="true"></i></button> </span>
            </div>
        </div>
    </div>
</mail-dialog>


