<div id="main" class="content-page">
    <div class="page-header-title">
        <h4 class="page-title"><a (click)="homeurl()">Administration ></a>Split Events</h4>
    </div>
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px;">
                        <form class="form-horizontal form-label-left" *ngIf="page">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-text [(ngModel)]="newItem.OrgID" [name]="txtOrgID" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'OrgID'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Business Units</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [id]="'ddlOrg'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Event ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <atpar-select [options]="cities" [id]="'ddlSts'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true"></atpar-select>
                                    </div>
                                </div>
                                <div style="clear:both;"></div><br>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <br>                        
                        <!--below form-->
                        <form class="form-horizontal form-label-left" *ngIf="pop">
                            <div style="clear:both;"></div>
                            <hr>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">Event ID</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-text [(ngModel)]="newItem.EventID" [name]="txtEventID" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'EventID'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter Event ID
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">From Storage Location</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-text [(ngModel)]="newItem.FromStorageLoc" [name]="txtFromStorageLoc" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'FromStorageLoc'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter From Storage Location
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">To Storage Location</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-text [(ngModel)]="newItem.ToStorageLoc" [name]="txtToStorageLoc" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'ToStorageLoc'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter To Storage Location
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">No of Items</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-text [(ngModel)]="newItem.NoOfItems" [name]="txtNoOfItems" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'NoOfItems'" [ngModelOptions]="{standalone: true}" [readonly]="true"></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter No of Items
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">Split Into</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-text [(ngModel)]="newItem.SplitInto" [name]="txtSplitInto" *ngIf="!isEditMode" [validations]="'alpha_numeric_underscore_hyphen_backslash_nospace'" [id]="'SplitInto'" [ngModelOptions]="{standalone: true}" ></atpar-text>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter Split Into
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="control-label col-xs-12 col-md-3 col-sm-3">Sort By</label>
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                        <atpar-select [options]="cities" [id]="'ddlOrg'" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}" filter="filter" [required]="true"></atpar-select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md- help_txt">
                                        Enter Sort By
                                    </div>
                                </div>
                                
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="go()">Split &nbsp; <i class="fa fa-columns"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
