<!--<div>
    <span>This is trackit View Cart screen.</span>
</div>-->
<style>
    .ui-datatable tbody tr td .form-control, table tbody tr td .form-control {
        height: auto !important;
        margin-top: -10px;
    }

    input[type=number].form-control {
        line-height: 34px;
    }
    .table-condensed > thead> tr> th {
        text-align: center;
    }
    .new-ht td .input-group .input-group-addon {
         line-height:0!important;
    }
</style>
<div id="main" class="content-page"  style="margin-left: 0px;  margin-top: -80px;">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:20px 0px 10px 0px;">
                        <div class="col-xs-12" *ngIf="page">
                            <button class="btn btn-purple sbtn pull-right">Continue &nbsp; <i class="fa fa-angle-right"></i></button>
                            <br>
                            <div class="container">
                                <table id="cart" class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th width="30%">Product</th>
                                            <th width="20%">Due Date/Time</th>
                                            <th width="20%">Return Date/Time</th>
                                            <th width="6%">Quantity</th>
                                            <th width="11%">Delivery Location</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="new-ht">
                                            <td data-th="Product">
                                                <div class="row">
                                                    <div class="col-sm-4"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                                                    <div class="col-sm-8">
                                                        <p><strong>Item ID:</strong>Injection</p>
                                                        <p><strong>Comment:</strong> This item should store in cool place</p>
                                                        <p><strong>Assigned To : </strong>Patient Name</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Due">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date2" [placeholder]="'Due Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Return">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date2" [placeholder]="'Return Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Quantity">
                                                <div class="input-group" style="width:150px;">
                                                    <span class="input-group-addon"> <a class="text-default"> - </a></span>
                                                    <atpar-text [id]="'txtDf'" [name]="txtDf" [(ngModel)]="newItem.Df" [ngModelOptions]="{standalone: true}" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only numbers (0-9), the underscore (_), and no spaces'"></atpar-text>
                                                    <span class="input-group-addon"> <a class="text-default"> + </a> </span>
                                                </div>
                                            </td>
                                            <td data-th="Delivery Location">
                                                <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlErpsys'" filter="filter" [ngModelOptions]="{standalone: true}"></atpar-select>
                                            </td>
                                            <td class="actions" data-th="Patient">
                                                <button class="btn btn-purple btn-lg" (click)="go()"><i class="fa fa-user-plus"></i></button>
                                            </td>
                                            <!--<td class="actions" data-th="Cart">
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-shopping-cart"></i></button>
                                            </td>-->
                                            <td class="actions" data-th="Action">
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-trash"></i></button>
                                            </td> 
                                        </tr>
                                        <tr class="new-ht">
                                            <td data-th="Product">
                                                <div class="row">
                                                    <div class="col-sm-4"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                                                    <div class="col-sm-8">
                                                        <p><strong>Item ID:</strong>Surgical gloves</p>
                                                        <p><strong>Comment:</strong> only single use</p>
                                                        <p><strong>Assigned To : </strong>Patient Name</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Due">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date2" [placeholder]="'Due Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Return">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date2" [placeholder]="'Return Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Quantity">
                                                <div class="input-group" style="width:150px;">
                                                    <span class="input-group-addon"> <a class="text-default"> - </a></span>
                                                    <atpar-text [id]="'txtDf'" [name]="txtDf" [(ngModel)]="newItem.Df" [ngModelOptions]="{standalone: true}" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only numbers (0-9), the underscore (_), and no spaces'"></atpar-text>
                                                    <span class="input-group-addon"> <a class="text-default"> + </a> </span>
                                                </div>
                                            </td>
                                            <td data-th="Delivery Location">
                                                <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlErpsys'" filter="filter" [ngModelOptions]="{standalone: true}"></atpar-select>
                                            </td>
                                            <td class="actions" data-th="Patient">
                                                <button class="btn btn-purple btn-lg" (click)="go()"><i class="fa fa-user-plus"></i></button>
                                            </td>
                                            <!--<td class="actions" data-th="Cart">
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-shopping-cart"></i></button>
                                            </td>-->
                                            <td class="actions" data-th="Action">
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-trash"></i></button>
                                            </td>                                            
                                        </tr>
                                        <tr class="new-ht">
                                            <td data-th="Product">
                                                <div class="row">
                                                    <div class="col-sm-4"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                                                    <div class="col-sm-8">
                                                        <p><strong>Item ID:</strong>Bed side table</p>
                                                        <p><strong>Comment:</strong> Bed side table for patient</p>
                                                        <p><strong>Avalable:</strong>4</p>
                                                        <p><strong>Assigned To : </strong>Patient Name</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-th="Due">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date1" [placeholder]="'Due Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Return">
                                                <div class="col-xs-12">
                                                    <p-calendar [showIcon]="true" [id]="'FromDatePicker'" [(ngModel)]="date1" [placeholder]="'Return Date'" [minDate]="minDateValue1" [readonlyInput]="true" (onSelect)="selectDate1($event)" (onFocus)="onfocusFromCalendar($event)" [ngModelOptions]="{standalone: true}"></p-calendar>
                                                </div>
                                                <div class="clear"></div>
                                                <br>
                                                <div class="col-xs-12 col-md-8">
                                                    <input class="form-control time" type="time">
                                                </div>
                                            </td>
                                            <td data-th="Quantity">
                                                <div class="input-group" style="width:150px;">
                                                    <span class="input-group-addon"> <a class="text-default"> - </a></span>
                                                    <atpar-text [id]="'txtDf'" [name]="txtDf" [(ngModel)]="newItem.Df" [ngModelOptions]="{standalone: true}" [validations]="'alpha_numeric_underscore_nospace'" [title]="'Use only numbers (0-9), the underscore (_), and no spaces'"></atpar-text>
                                                    <span class="input-group-addon"> <a class="text-default"> + </a> </span>
                                                </div>
                                            </td>
                                            <td data-th="Delivery Location" class="text-center">
                                                <atpar-select [options]="cities" [(ngModel)]="selectedCity" [id]="'ddlErpsy1'" filter="filter" [ngModelOptions]="{standalone: true}"></atpar-select>
                                            </td>
                                            <td class="actions" data-th="Patient">
                                                <button class="btn btn-purple btn-lg" (click)="go()"><i class="fa fa-user-plus"></i></button>
                                            </td>
                                            <!--<td class="actions" data-th="Cart">
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-shopping-cart"></i></button>
                                            </td>-->
                                            <td class="actions" data-th="Action">                                                
                                                <button class="btn btn-purple btn-lg"><i class="fa fa-trash"></i></button>
                                            </td>                                            
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <label class="col-md-3">Order Comment</label>
                                                <div class="col-md-9">
                                                    <atpar-text [(ngModel)]="newItem.Item" [name]="txtItem" [validations]="'except_less_greater_symbols'" [id]="'Item'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                                </div>
                                            </td>
                                            <td colspan="1" class="hidden-xs"><td>
                                            <td colspan="4">
                                                <div class="col-md-6">
                                                    <a href="#" class="btn btn-purple sbtn">Clear Cart &nbsp;<i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="col-md-6">
                                                    <a href="#" class="btn btn-purple sbtn">Submit Request &nbsp;<i class="fa fa-check"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>                        
                        <div class="col-xs-12 table-responsive " *ngIf="pop">
                            <div class="container">
                                <atpar-datatable [value]="sales" [paginator]="true" [pageLinks]="3" [rows]="5" expandableRows="true" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [responsive]="true">
                                    <!--<p-column expander="true" styleClass="col-icon"></p-column>-->
                                    <p-column field="" header="Select">
                                        <template let-ven="rowData" pTemplate="body">
                                            <atpar-switch></atpar-switch>
                                        </template>
                                    </p-column>
                                    <p-column field="DEPARTMENT" header="Department" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PATIENT_NAME" header="Patient Name" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PATIENT_MRC" header="Patient MRC" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="PATIENT_ACCOUNT" header="Patient Account#" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                    <p-column field="BED/ROOM" header="Bed/Room#" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                                </atpar-datatable>
                            </div>
                            <br>
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5 form-group">
                                <button class="btn btn-purple sbtn" (click)="close()">Select &nbsp; <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
