
<div id="main" class="content-page">
    <div class="page-content-wrapper">
        <div class="container x_panel no-border" *ngIf="true">
            <atpar-growl [value]="growlMessage" sticky="sticky"></atpar-growl>
            <br>
            <div class="">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0 0 10px 0;">
                        <form class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Org Group ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <label *ngIf="blnShowOrgGroupLabel" class="control-label lbl-left">{{orgGrpId}}</label>                                        
                                        <atpar-select [options]="lstOrgGroups" [id]="'ddllstOrgGroups'" [required]="true" [(ngModel)]="selectedOrgGroupId" [ngModelOptions]="{standalone: true}" filter="filter" *ngIf="blnShowOrgGroupDD" (onChange)="ddlOrgGrpIdChanged()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Business Unit / Company</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="lstFilteredBUnits" [id]="'ddlOrg'" [required]="true" [(ngModel)]="selectedBunit" [ngModelOptions]="{standalone: true}" filter="filter" (onChange)="ddl_Changed()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-md-4 col-sm-6">Cart ID / Par Location</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-text [(ngModel)]="selectedParlocation" [id]="'ParlocationId'" [name]="'ParlocationId'" [ngModelOptions]="{standalone: true}"></atpar-text>
                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="control-label col-xs-12 col-sm-6 col-md-4">Display</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="lstFilteredDisplay" [id]="'ddldisplay'" [(ngModel)]="selectedDropDownDisplay" [ngModelOptions]="{standalone: true}" (onChange)="ddl_Changed()"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-2 form-group">
                                     

                                    <button class="btn btn-purple sbtn" (click)="getAllocateCarts()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12" *ngIf="showGrid">
                            <div class="container">
                                <atpar-datatable [value]="lstDBData" [style]="{'width':'100%'}"  [paginator]="true" [pageLinks]="3" [rows]="recordsPerPageSize" [rowsPerPageOptions]="[10,20, 30, 40, 50, 60, 70, 80, 90, 100]" [globalFilter]="gb" [responsive]="true">
                                    <p-column field="BUSINESS_UNIT" header="Business Unit / Company" sortable="custom" (sortFunction)="customSort($event)" [filter]="true" filterPlaceholder="Search" [style]="{'width':'10%'}" ></p-column>
                                    <p-column field="CART_ID" header="Cart ID / Par Location" sortable="custom"  (sortFunction)="customSort($event)" [filter]="true" filterPlaceholder="Search" [style]="{'width':'14%'}"></p-column>
                                    <p-column field="DESCR" header="Description" sortable="custom" [filter]="true"  (sortFunction)="customSort($event)" filterPlaceholder="Search" [style]="{'width':'10%'}"></p-column>
                                    <p-column field="TWO_BIN_ALLOCATION" header="2Bin Location" [style]="{'text-align':'center','width':'8%'}">
                                        <template let-ven="rowData" pTemplate="body">
                                            <atpar-switch (change)="selectedRow(ven,$event)" [(ngModel)]="ven.checkvalue"></atpar-switch>
                                        </template>

                                    </p-column>
                                    <p-column field="DEF_PERCENTAGE_VALUE" header="Default Percent Value" sortable="custom" (sortFunction)="customSort($event)" [style]="{'width':'12%'}">
                                        <template let-ven="rowData" pTemplate type="body">
                                            <atpar-text-grid [id]="ven.Sno" [name]="txtIss" [(ngModel)]="ven.DEF_PERCENTAGE_VALUE" [validations]="'numeric,max=2'" 
                                                             [ngModelOptions]="{standalone: true}" [title]="'Default percentage value Allows only numbers'"  ></atpar-text-grid>

                                        </template>
                                    </p-column>
                                </atpar-datatable>
                            </div>
                            <br />
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" (click)="allocateTwoBinLocData()" id="backparam">Submit &nbsp;<i class="fa fa-check"></i></button>

                            </div>
                        </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
