<div id="main" class="content-page">  
    <div class="page-content-wrapper">
        <div class="container x_panel no-border">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default" style="border: 1px solid #eee;">
                    <div class="panel-body" style="padding:0px;">
                        <div class="form-horizontal form-label-left">
                            <div class="col-xs-12">
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Org Group ID </label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">

                                        <label *ngIf="blnShowOrgGroupLabel" class="control-label lbl-left">{{lblOrgGroupId}}</label>

                                        <atpar-select [options]="lstOrgGroupData" [id]="'lstOrgGroupData'" [required]="true"
                                                      [(ngModel)]="selectedOrgGroupId" [ngModelOptions]="{standalone: true}"
                                                      filter="filter" *ngIf="ddlShowOrgGroupDD" (onChange)="ddlOrgGrpIdChanged($event)" [name]="ddllstOrgGroups"></atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Org ID</label>
                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-select [options]="ddlBusinessData" filter="filter" [id]="'ddllstBusinessData'" [(ngModel)]="businessDatangModel" (onChange)="ddlBUnitChanged($event)"
                                                      [style]="{'width':'100%'}" [name]="businessData" [required]="true">
                                        </atpar-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 form-group">
                                    <label for="" class="col-xs-12 col-sm-6 col-md-4 control-label">Par Location</label>

                                    <div class="col-xs-12 col-sm-6 col-md-8">
                                        <atpar-ac-server [(ngModel)]="autoCompleteCartID"
                                                         [suggestions]="CartIdSearchLst" name="CartIdSearchLst"
                                                         (completeMethod)="searchAutoCompleteCartIdName($event)"></atpar-ac-server>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                    <button class="btn btn-purple sbtn" (click)="btnGo_Click()">Go &nbsp; <i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12" *ngIf="showGrid">
                            <div class="container">
                             <atpar-datatable [value]="lstGridData" #dt [paginator]="true" [pageLinks]="3" [rows]="pageSize" (onSort)="onSort($event)" (filteredData)="filterdata($event)" [rowsPerPageOptions]="rowPageOptions" [responsive]="true">
                                <p-column header="Select" field="ASSIGN_CART" [style]="{'width':'10%','text-align':'center'}">
                                    <template pTemplate="filter">
                                        <ul class="list-inline li-all-none">
                                            <li>
                                                <span (click)="checkAll()" style="cursor:pointer">All</span>
                                            </li> |
                                            <li>
                                                <span (click)="unCheckAll()" style="cursor:pointer">None</span>
                                            </li>
                                        </ul>
                                    </template>
                                    <template let-col let-cartdata="rowData" pTemplate="body">

                                        <atpar-switch [checked]=cartdata[col.field] [(ngModel)]="cartdata[col.field]" name="changeStatus" (click)="changeStatus(cartdata)"></atpar-switch>

                                    </template>
                                </p-column>

                                <p-column header="Par Location" field="CART_ID" [sortable]="true" [filter]="true" filterPlaceholder="Search">
                                </p-column>


                                <p-column header="Inventory Schedule" field="SCHEDULER" [style]="{'overflow':'visible'}">
                                    <template let-col let-cartProcessData="rowData" pTemplate="body">
                                        <atpar-select-grid [options]="ddlSchedId" [id]="'ddlSchedId'" name="ddlSchedId"
                                                      [(ngModel)]="cartProcessData[col.field]"
                                                      [SelectedLabel]=cartProcessData[col.field]></atpar-select-grid>
                                    </template>
                                </p-column>
                            </atpar-datatable>
                            </div>
                            <br>
                            <div class="col-xs-12 col-sm-6 col-sm-offset-5 col-md-4 col-md-offset-5">
                                <button class="btn btn-purple sbtn" (click)="btnSubmit_Click()"> Submit &nbsp;<i class="fa fa-check"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<atpar-growl [value]="growlMessage" sticky=“sticky”></atpar-growl>